Repository statechannels/statechannels, pull requests merged in 2019-11, with the labels that each got.

#302 [nitro-protocol] Introduce website:deploy script
  .gitignore
  packages/nitro-protocol/.yarnrc
  packages/nitro-protocol/package.json
  packages/nitro-protocol/website/package.json
  packages/nitro-protocol/yarn.lock
Labels: documentation, package: nitro-protocol

#322 [engine] Update Application protocol to use SignedStates
  packages/engine/package.json
  packages/engine/src/contract-tests/adjudicator-events.test.ts
  packages/engine/src/domain/commitments/__tests__/index.ts
  packages/engine/src/redux/channel-store/channel-state/__tests__/index.ts
  packages/engine/src/redux/channel-store/channel-state/valid-transition.ts
  packages/engine/src/redux/channel-store/reducer.ts
  packages/engine/src/redux/protocols/application/__tests__/reducer.test.ts
  packages/engine/src/redux/protocols/application/__tests__/scenarios.ts
  packages/engine/src/redux/protocols/application/actions.ts
  packages/engine/src/redux/protocols/application/container.tsx
  packages/engine/src/redux/protocols/application/readme.md
  packages/engine/src/redux/protocols/application/reducer.ts
  packages/engine/src/redux/protocols/application/states.ts
  packages/engine/src/redux/sagas/__tests__/message-listener.test.ts
  packages/engine/src/redux/sagas/challenge-response-initiator.ts
  packages/engine/src/redux/sagas/message-listener.ts
  packages/engine/src/utils/nitro-converter.ts
Labels: package: wallet

#323 [web3torrent] Adds proper texts
  packages/web3torrent/src/pages/file/File.tsx
  packages/web3torrent/src/pages/upload/Upload.tsx
  packages/web3torrent/src/pages/welcome/Welcome.tsx
Labels: enhancement, package: web3torrent

#333 [nitro-protocol] Fix broken links on docs website
  packages/nitro-protocol/package.json
  packages/nitro-protocol/solidoc.json
  yarn.lock
Labels: documentation, package: nitro-protocol

#354 [engine] Update Ledger Top Up Protocol to use Signed States
  packages/engine/src/redux/protocols/existing-ledger-funding/reducer.ts
  packages/engine/src/redux/protocols/ledger-top-up/__tests__/reducer.test.ts
  packages/engine/src/redux/protocols/ledger-top-up/__tests__/scenarios.ts
  packages/engine/src/redux/protocols/ledger-top-up/reducer.ts
  packages/engine/src/redux/protocols/ledger-top-up/states.ts
Labels: package: wallet

#353 [engine] Update Virtual Funding to Signed State
  packages/engine/src/contract-tests/eth-asset-holder-events.test.ts
  packages/engine/src/domain/commitments/__tests__/index.ts
  packages/engine/src/redux/protocols/funding/reducer.ts
  packages/engine/src/redux/protocols/virtual-funding/__tests__/reducer.test.ts
  packages/engine/src/redux/protocols/virtual-funding/__tests__/scenarios.ts
  packages/engine/src/redux/protocols/virtual-funding/readme.md
  packages/engine/src/redux/protocols/virtual-funding/reducer.ts
  packages/engine/src/redux/protocols/virtual-funding/states.ts
  packages/engine/src/utils/data-type-utils.ts
  packages/engine/src/utils/nitro-converter.ts
  packages/engine/src/utils/transaction-generator.ts
Labels: package: wallet

#355 [provider-api] Add provider-api package
  packages/provider-api/.editorconfig
  packages/provider-api/.gitignore
  packages/provider-api/CODE_OF_CONDUCT.md
  packages/provider-api/Gemfile
  packages/provider-api/Gemfile.lock
  packages/provider-api/README.md
  packages/provider-api/config.rb
  packages/provider-api/font-selection.json
  packages/provider-api/lib/multilang.rb
  packages/provider-api/lib/nesting_unique_head.rb
  packages/provider-api/lib/toc_data.rb
  packages/provider-api/lib/unique_head.rb
  packages/provider-api/source/fonts/slate.eot
  packages/provider-api/source/fonts/slate.svg
  packages/provider-api/source/fonts/slate.ttf
  packages/provider-api/source/fonts/slate.woff
  packages/provider-api/source/fonts/slate.woff2
  packages/provider-api/source/images/logo.png
  packages/provider-api/source/images/navbar.png
  packages/provider-api/source/index.html.md
  packages/provider-api/source/javascripts/all.js
  packages/provider-api/source/javascripts/all_nosearch.js
  packages/provider-api/source/javascripts/app/_lang.js
  packages/provider-api/source/javascripts/app/_search.js
  packages/provider-api/source/javascripts/app/_toc.js
  packages/provider-api/source/javascripts/lib/_energize.js
  packages/provider-api/source/javascripts/lib/_imagesloaded.min.js
  packages/provider-api/source/javascripts/lib/_jquery.highlight.js
  packages/provider-api/source/javascripts/lib/_jquery.js
  packages/provider-api/source/javascripts/lib/_lunr.js
  packages/provider-api/source/layouts/layout.erb
  packages/provider-api/source/stylesheets/_icon-font.scss
  packages/provider-api/source/stylesheets/_normalize.scss
  packages/provider-api/source/stylesheets/_rtl.scss
  packages/provider-api/source/stylesheets/_variables.scss
  packages/provider-api/source/stylesheets/print.css.scss
  packages/provider-api/source/stylesheets/screen.css.scss
Labels: documentation

#337 [engine] - Update Advance Channel to SignedStates
  packages/engine/src/contract-tests/eth-asset-holder-events.test.ts
  packages/engine/src/domain/commitments/__tests__/index.ts
  packages/engine/src/domain/commitments/index.ts
  packages/engine/src/redux/__tests__/helpers.ts
  packages/engine/src/redux/channel-store/channel-state/states.ts
  packages/engine/src/redux/protocols/advance-channel/__tests__/reducer.test.ts
  packages/engine/src/redux/protocols/advance-channel/__tests__/scenarios.ts
  packages/engine/src/redux/protocols/advance-channel/readme.md
  packages/engine/src/redux/protocols/advance-channel/reducer.ts
  packages/engine/src/redux/protocols/advance-channel/states.ts
  packages/engine/src/redux/protocols/close-ledger-channel/reducer.ts
  packages/engine/src/redux/protocols/concluding/reducer.ts
  packages/engine/src/redux/protocols/existing-ledger-funding/reducer.ts
  packages/engine/src/redux/protocols/funding/reducer.ts
  packages/engine/src/redux/protocols/ledger-top-up/__tests__/reducer.test.ts
  packages/engine/src/redux/protocols/ledger-top-up/__tests__/scenarios.ts
  packages/engine/src/redux/protocols/ledger-top-up/reducer.ts
  packages/engine/src/redux/protocols/ledger-top-up/states.ts
  packages/engine/src/redux/protocols/new-ledger-channel/reducer.ts
  packages/engine/src/redux/protocols/virtual-funding/__tests__/reducer.test.ts
  packages/engine/src/redux/protocols/virtual-funding/__tests__/scenarios.ts
  packages/engine/src/redux/protocols/virtual-funding/readme.md
  packages/engine/src/redux/protocols/virtual-funding/reducer.ts
  packages/engine/src/redux/protocols/virtual-funding/states.ts
  packages/engine/src/redux/state.ts
  packages/engine/src/utils/data-type-utils.ts
  packages/engine/src/utils/nitro-converter.ts
  packages/engine/src/utils/transaction-generator.ts
Labels: package: wallet

#359 [web3torrent] Adds Storybook support + FormButton story
  packages/web3torrent/.storybook/addons.js
  packages/web3torrent/.storybook/config.js
  packages/web3torrent/.storybook/presets.js
  packages/web3torrent/package.json
  packages/web3torrent/src/components/form/form-button/FormButton.stories.tsx
  packages/web3torrent/src/components/form/form-button/README.md
  yarn.lock
Labels: documentation, package: web3torrent

#362 [Web3Torrent] Multiple File Torrent Support - Sample Torrents
  packages/web3torrent/package.json
  packages/web3torrent/src/App.scss
  packages/web3torrent/src/clients/web3torrent-client.ts
  packages/web3torrent/src/components/share-list/ShareList.test.tsx
  packages/web3torrent/src/components/share-list/ShareList.tsx
  packages/web3torrent/src/components/torrent-info/TorrentInfo.test.tsx
  packages/web3torrent/src/components/torrent-info/TorrentInfo.tsx
  packages/web3torrent/src/components/torrent-info/download-info/DownloadInfo.test.tsx
  packages/web3torrent/src/components/torrent-info/download-link/DownloadLink.test.tsx
  packages/web3torrent/src/components/torrent-info/download-link/DownloadLink.tsx
  packages/web3torrent/src/components/torrent-info/magnet-link-button/MagnetLinkButton.test.tsx
  packages/web3torrent/src/constants.ts
  packages/web3torrent/src/library/web3torrent-lib.ts
  packages/web3torrent/src/pages/file/File.tsx
  packages/web3torrent/src/pages/upload/Upload.tsx
  packages/web3torrent/src/types.ts
  packages/web3torrent/src/utils/file-saver.ts
  packages/web3torrent/src/utils/torrent-status-checker.test.ts
  packages/web3torrent/src/utils/torrent-status-checker.ts
  yarn.lock
Labels: frontend, package: web3torrent

#363 [web3torrent] Adds stories for Spinner
  packages/web3torrent/src/components/form/spinner/README.md
  packages/web3torrent/src/components/form/spinner/Spinner.stories.tsx
Labels: documentation, package: web3torrent

#368 [Web3Torrent] FileName into new row - Feedback allocation canceled
  packages/web3torrent/src/clients/embedded-wallet-client.ts
  packages/web3torrent/src/components/torrent-info/TorrentInfo.scss
  packages/web3torrent/src/components/torrent-info/TorrentInfo.test.tsx
  packages/web3torrent/src/components/torrent-info/TorrentInfo.tsx
  packages/web3torrent/src/pages/file/File.scss
  packages/web3torrent/src/pages/file/File.tsx
Labels: frontend, package: web3torrent

#375 [hub] Enable tests that do not interact with contracts
  .circleci/config.yml
  packages/hub/package.json
  packages/hub/src/utilities/contracts.ts
  packages/hub/src/wallet/db/seeds/1_rules.ts
  packages/hub/src/wallet/utilities/blockchain.ts
  yarn.lock
Labels: package: hub

#377 [monorepo] Add netlify-ignore script
  netlify-ignore.sh
  netlify.toml
  packages/nitro-protocol/yarn.lock
Labels: monorepo

#361 [nitro-protocol] Use minimal dependencies
  netlify-ignore.sh
  packages/nitro-protocol/bin/compile.js
  packages/nitro-protocol/package.json
  packages/nitro-protocol/src/signatures.ts
Labels: documentation, package: nitro-protocol

#367 [engine] Convert Existing Ledger Funding to Signed States
  packages/engine/src/redux/protocols/close-ledger-channel/__tests__/reducer.test.ts
  packages/engine/src/redux/protocols/close-ledger-channel/__tests__/scenarios.ts
  packages/engine/src/redux/protocols/close-ledger-channel/readme.md
  packages/engine/src/redux/protocols/close-ledger-channel/reducer.ts
  packages/engine/src/redux/protocols/defunding/__tests__/scenarios.ts
  packages/engine/src/redux/protocols/defunding/reducer.ts
  packages/engine/src/redux/protocols/existing-ledger-funding/__tests__/reducer.test.ts
  packages/engine/src/redux/protocols/existing-ledger-funding/__tests__/scenarios.ts
  packages/engine/src/redux/protocols/existing-ledger-funding/readme.md
  packages/engine/src/redux/protocols/existing-ledger-funding/reducer.ts
  packages/engine/src/redux/protocols/existing-ledger-funding/states.ts
  packages/engine/src/redux/protocols/funding/__tests__/scenarios.ts
  packages/engine/src/redux/protocols/funding/reducer.ts
  packages/engine/src/redux/protocols/ledger-defunding/__tests__/scenarios.ts
  packages/engine/src/redux/protocols/ledger-defunding/reducer.ts
  packages/engine/src/redux/protocols/ledger-funding/__tests__/scenarios.ts
  packages/engine/src/redux/protocols/ledger-funding/reducer.ts
  packages/engine/src/redux/protocols/ledger-funding/states.ts
  packages/engine/src/redux/protocols/ledger-top-up/reducer.ts
  packages/engine/src/redux/protocols/new-ledger-channel/__tests__/scenarios.ts
  packages/engine/src/redux/protocols/new-ledger-channel/components/funding-step.tsx
  packages/engine/src/redux/protocols/new-ledger-channel/reducer.ts
  packages/engine/src/redux/protocols/reducer-helpers.ts
  packages/engine/src/redux/protocols/virtual-defunding/__tests__/reducer.test.ts
  packages/engine/src/redux/protocols/virtual-defunding/__tests__/scenarios.ts
  packages/engine/src/redux/protocols/virtual-defunding/reducer.ts
  packages/engine/src/redux/protocols/virtual-funding/reducer.ts
  packages/engine/src/redux/protocols/withdrawing/__tests__/scenarios.ts
  packages/engine/src/utils/outcome-utils.ts
Labels: package: wallet

#379 [web3torrent] Add stories for ShareFile
  packages/web3torrent/src/components/share-list/share-file/ShareFile.stories.tsx
Labels: documentation, package: web3torrent

#381 [web3torrent] Add stories for DownloadInfo
  packages/web3torrent/.storybook/web3torrent-client.mock.js
  packages/web3torrent/.storybook/webpack.config.js
  packages/web3torrent/src/components/torrent-info/download-info/DownloadInfo.stories.tsx
Labels: documentation, package: web3torrent

#382 [web3torrent] Adds stories for ProgressBar
  packages/web3torrent/src/components/torrent-info/download-info/progress-bar/ProgressBar.stories.tsx
Labels: documentation, package: web3torrent

#252 [nitro-protocol] Streamline asset withdrawal
  packages/nitro-protocol/contracts/AssetHolder.sol
  packages/nitro-protocol/contracts/NitroAdjudicator.sol
  packages/nitro-protocol/contracts/interfaces/IAssetHolder.sol
  packages/nitro-protocol/contracts/test/TESTAssetHolder.sol
  packages/nitro-protocol/contracts/test/TESTAssetHolder2.sol
  packages/nitro-protocol/deployment/deploy-test.js
  packages/nitro-protocol/docs/api/contract-inheritance.md
  packages/nitro-protocol/docs/forcemove-and-nitro/force-move.md
  packages/nitro-protocol/docs/state-channels/overview.md
  packages/nitro-protocol/solidoc.json
  packages/nitro-protocol/src/contract/transaction-creators/force-move.ts
  packages/nitro-protocol/test/contracts/AssetHolder/claimAll.test.ts
  packages/nitro-protocol/test/contracts/AssetHolder/transferAll.test.ts
  packages/nitro-protocol/test/contracts/ForceMove/conclude.test.ts
  packages/nitro-protocol/test/contracts/NitroAdjudicator/concludePushOutcomeAndTransferAll.test.ts
  packages/nitro-protocol/test/contracts/NitroAdjudicator/pushOutcome.test.ts
  packages/nitro-protocol/test/contracts/NitroAdjudicator/pushOutcomeAndTransferAll.test.ts
  packages/nitro-protocol/test/contracts/examples/SingleAssetPayments/validTransition.test.ts
  packages/nitro-protocol/test/test-helpers.test.ts
  packages/nitro-protocol/test/test-helpers.ts
  yarn.lock
Labels: package: nitro-protocol

#389 [engine] Update Transaction tests to Signed States
  packages/engine/src/contract-tests/adjudicator-events.test.ts
  packages/engine/src/contract-tests/eth-asset-holder-events.test.ts
  packages/engine/src/contract-tests/test-utils.ts
  packages/engine/src/contract-tests/transactions.test.ts
  packages/engine/src/redux/protocols/withdrawing/reducer.ts
  packages/engine/src/utils/transaction-generator.ts
Labels: package: wallet

#383 [web3torrent] Add stories for DownloadLink
  packages/web3torrent/src/components/torrent-info/download-link/DownloadLink.stories.tsx
Labels: documentation, package: web3torrent

#391 [monorepo] Update yarn.lock
  yarn.lock
Labels: dependencies, monorepo

#388 [hub] Remove RPS references
  packages/hub/src/__test__/integration/blockchain.test.ts
  packages/hub/src/hub/handlers/handle-app-message.ts
  packages/hub/src/hub/handlers/handle-ongoing-process-action.ts
  packages/hub/src/hub/server.ts
  packages/hub/src/hub/services/__test__/rpsChannelManager.test.ts
  packages/hub/src/hub/services/rps-commitment.ts
  packages/hub/src/hub/services/rpsChannelManager.ts
  packages/hub/src/test/rps_test_data.ts
  packages/hub/src/test/test-constants.ts
  packages/hub/src/utilities/contracts.ts
  packages/hub/src/wallet/adjudicator-watcher/index.ts
  packages/hub/src/wallet/db/seeds/2_allocator_channels_seed.ts
  packages/hub/src/wallet/services/blockchain.ts
  packages/hub/src/wallet/utilities/blockchain.ts
  yarn.lock
Labels: package: hub

#394 Set registry to npmjs
  .yarnrc
  yarn.lock
Labels: monorepo

#396 [Hub] Remove node-jq dependency from Hub
  packages/hub/package.json
  yarn.lock
Labels: package: hub

#386 [engine] Update Dispute Responder / Challenger Protocols to Signed State
  packages/wallet/src/contract-tests/adjudicator-events.test.ts
  packages/wallet/src/contract-tests/eth-asset-holder-events.test.ts
  packages/wallet/src/contract-tests/test-utils.ts
  packages/wallet/src/contract-tests/transactions.test.ts
  packages/wallet/src/redux/actions.ts
  packages/wallet/src/redux/adjudicator-state/__tests__/reducer.test.ts
  packages/wallet/src/redux/protocols/application/reducer.ts
  packages/wallet/src/redux/protocols/dispute/challenger/__tests__/reducer.test.ts
  packages/wallet/src/redux/protocols/dispute/challenger/__tests__/scenarios.ts
  packages/wallet/src/redux/protocols/dispute/challenger/reducer.ts
  packages/wallet/src/redux/protocols/dispute/responder/__tests__/reducer.test.ts
  packages/wallet/src/redux/protocols/dispute/responder/__tests__/scenarios.ts
  packages/wallet/src/redux/protocols/dispute/responder/__tests__/stories.tsx
  packages/wallet/src/redux/protocols/dispute/responder/actions.ts
  packages/wallet/src/redux/protocols/dispute/responder/readme.md
  packages/wallet/src/redux/protocols/dispute/responder/reducer.ts
  packages/wallet/src/redux/protocols/dispute/responder/states.ts
  packages/wallet/src/redux/protocols/reducer-helpers.ts
  packages/wallet/src/redux/protocols/withdrawing/reducer.ts
  packages/wallet/src/redux/sagas/message-listener.ts
  packages/wallet/src/redux/state.ts
  packages/wallet/src/utils/transaction-generator.ts
Labels: package: wallet

#399 [rps] Relints package
  packages/rps/package.json
  packages/rps/src/__stories__/index.tsx
  packages/rps/src/components/Button.tsx
  packages/rps/src/components/ConcludeStep.tsx
  packages/rps/src/components/GameFooter.tsx
  packages/rps/src/components/Header.tsx
  packages/rps/src/components/HomePage.tsx
  packages/rps/src/components/LoadingPage.tsx
  packages/rps/src/components/WeaponSelectedPage.tsx
  packages/rps/src/containers/ApplicationContainer.tsx
  packages/rps/src/containers/CreatingOpenGameContainer.tsx
  packages/rps/src/containers/GameBarContainer.tsx
  packages/rps/src/containers/GameContainer.tsx
  packages/rps/src/containers/GameFooterContainer.tsx
  packages/rps/src/containers/HomePageContainer.ts
  packages/rps/src/containers/LobbyContainer.tsx
  packages/rps/src/containers/NavigationBarContainer.tsx
  packages/rps/src/containers/ProfileContainer.tsx
  packages/rps/src/containers/SiteContainer.tsx
  packages/rps/src/containers/__tests__/GameContainer.test.tsx
  packages/rps/src/contract-tests/rock-paper-scissors.test.ts
  packages/rps/src/core/players.ts
  packages/rps/src/core/results.ts
  packages/rps/src/core/rps-commitment-helper.ts
  packages/rps/src/core/rps-commitment.ts
  packages/rps/src/core/test-scenarios.ts
  packages/rps/src/core/weapons.ts
  packages/rps/src/gateways/firebase.ts
  packages/rps/src/redux/game/__tests__/player-a.test.ts
  packages/rps/src/redux/game/__tests__/player-b.test.ts
  packages/rps/src/redux/game/__tests__/starting-game.test.ts
  packages/rps/src/redux/game/actions.ts
  packages/rps/src/redux/game/reducer.ts
  packages/rps/src/redux/game/state.ts
  packages/rps/src/redux/global/actions.ts
  packages/rps/src/redux/global/reducer.ts
  packages/rps/src/redux/login/actions.ts
  packages/rps/src/redux/login/reducer.ts
  packages/rps/src/redux/message-service/saga.ts
  packages/rps/src/redux/message-service/state.ts
  packages/rps/src/redux/metamask/actions.ts
  packages/rps/src/redux/metamask/reducer.ts
  packages/rps/src/redux/metamask/saga.ts
  packages/rps/src/redux/open-games/actions.ts
  packages/rps/src/redux/open-games/saga.ts
  packages/rps/src/redux/reducer.ts
Labels: package: rps

#395 [web3torrent] Update README with new demo link + Storybook instructions
  packages/web3torrent/README.md
Labels: documentation, package: web3torrent

#393 [web3torrent] Adds stories for UploadInfo
  packages/web3torrent/src/components/torrent-info/upload-info/UploadInfo.stories.tsx
Labels: documentation, package: web3torrent

#392 [web3torrent] Adds stories for MagnetLinkButton
  packages/web3torrent/package.json
  packages/web3torrent/src/components/torrent-info/magnet-link-button/MagnetLinkButton.stories.tsx
Labels: documentation, package: web3torrent

#400 [engine] Clean up remaining commitment references
  packages/hub/src/hub/handlers/handle-wallet-message.ts
  packages/wallet/notes/actions.md
  packages/wallet/notes/channel-opening.md
  packages/wallet/notes/indirect-funding-proposal.md
  packages/wallet/notes/protocol-conventions.md
  packages/wallet/src/communication/actions.ts
  packages/wallet/src/contract-tests/eth-asset-holder-events.test.ts
  packages/wallet/src/redux/__tests__/helpers.ts
  packages/wallet/src/redux/__tests__/state-helpers.ts
  packages/wallet/src/redux/channel-store/channel-state/__tests__/index.ts
  packages/wallet/src/redux/channel-store/channel-state/states.ts
  packages/wallet/src/redux/channel-store/reducer.ts
  packages/wallet/src/redux/protocols/advance-channel/__tests__/scenarios.ts
  packages/wallet/src/redux/protocols/advance-channel/actions.ts
  packages/wallet/src/redux/protocols/advance-channel/reducer.ts
  packages/wallet/src/redux/protocols/consensus-update/actions.ts
  packages/wallet/src/redux/protocols/consensus-update/readme.md
  packages/wallet/src/redux/protocols/consensus-update/reducer.ts
  packages/wallet/src/redux/protocols/direct-funding/actions.ts
  packages/wallet/src/redux/protocols/direct-funding/readme.md
  packages/wallet/src/redux/protocols/dispute/challenger/__tests__/reducer.test.ts
  packages/wallet/src/redux/protocols/dispute/challenger/__tests__/scenarios.ts
  packages/wallet/src/redux/protocols/dispute/challenger/readme.md
  packages/wallet/src/redux/protocols/reducer-helpers.ts
  packages/wallet/src/redux/protocols/virtual-funding/__tests__/reducer.test.ts
  packages/wallet/src/redux/protocols/virtual-funding/__tests__/scenarios.ts
  packages/wallet/src/redux/sagas/__tests__/challenge-watcher.test.ts
  packages/wallet/src/redux/sagas/__tests__/message-listener.test.ts
  packages/wallet/src/redux/sagas/message-listener.ts
  packages/wallet/src/utils/transaction-generator.ts
Labels: package: wallet

#408 [monorepo] Upgrade ethers and typescript across all packages
  packages/devtools/package.json
  packages/jest-gas-reporter/package.json
  packages/nitro-protocol/package.json
  packages/rps/package.json
  packages/wallet/package.json
Labels: monorepo

#411 [wallet] Remove duplicate wallet dependencies
  packages/wallet/package.json
  yarn.lock
Labels: package: wallet

#426 [rps] Get yarn start working
  packages/rps/.env
  packages/rps/contracts/RockPaperScissors.sol
  packages/rps/contracts/RockPaperScissorsCommitment.sol
  packages/rps/contracts/RockPaperScissorsGame.sol
  packages/rps/deployment/deploy-test.js
  packages/rps/deployment/deploy.js
  packages/rps/package.json
  packages/rps/scripts/build.js
  packages/rps/scripts/start.js
  packages/rps/src/__stories__/index.tsx
  packages/rps/src/redux/metamask/saga.ts
  yarn.lock
Labels: package: rps

#429 [RPS] commented breaking code, added todo
  packages/rps/truffle.js
Labels: package: rps

#402 [rps] [channel-client] First implementation of a Channel Client
  .prettierrc.js
  packages/rps/.prettierrc.js
  packages/rps/package.json
  packages/rps/src/utils/channelClient.ts
  yarn.lock
Labels: package: channel-client, package: rps

#428 [rps] Add testing infrastructure
  packages/nitro-protocol/src/index.ts
  packages/rps/.env
  packages/rps/.env.test
  packages/rps/bin/compile.js
  packages/rps/bin/start-ganache.js
  packages/rps/package.json
  packages/rps/src/contract-tests/rock-paper-scissors.test.ts
  packages/rps/tsconfig.json
  yarn.lock
Labels: package: rps

#432 [monorepo] Update netlify-ignore script
  netlify-ignore.sh
  packages/app-wallet-interface/README.md
Labels: deployment, monorepo

#334 [rps] Replace dummy Rock Paper Scissors contract with an actual implementation
  packages/nitro-protocol/contracts/CountingApp.sol
  packages/rps/contracts/RockPaperScissors.sol
  packages/rps/src/contract-tests/rock-paper-scissors.test.ts
  packages/wallet/tslint.json
  yarn.lock
Labels: package: rps

#447 [rps] Increase rps contract test coverage
  packages/rps/contracts/RockPaperScissors.sol
  packages/rps/package.json
  packages/rps/src/contract-tests/rock-paper-scissors.test.ts
Labels: package: rps

#446 [hub] Start the process action refactor
  packages/hub/package.json
  packages/hub/src/hub/handlers/handle-new-process-action.ts
  packages/hub/src/hub/handlers/handle-ongoing-process-action.ts
  packages/hub/src/hub/handlers/handle-wallet-message.ts
  packages/hub/src/wallet/db/connection.ts
  packages/hub/src/wallet/db/migrations/20190726160413_add_guarantor_channel_support.ts
  packages/hub/src/wallet/db/migrations/20191111103200_outcomes.ts
  packages/hub/src/wallet/db/migrations/20191111110900_allocations.ts
  packages/hub/src/wallet/db/queries/__test__/channels.test.ts
  packages/hub/src/wallet/db/queries/channels.ts
  packages/hub/src/wallet/db/queries/getCurrentState.ts
  packages/hub/src/wallet/db/seeds/2_allocator_channels_seed.ts
  packages/hub/src/wallet/db/utils.ts
  packages/hub/src/wallet/models/allocation.ts
  packages/hub/src/wallet/models/channel.ts
  packages/hub/src/wallet/models/channelState.ts
  packages/hub/src/wallet/models/outcome.ts
  packages/hub/src/wallet/services/blockchain.ts
  packages/hub/src/wallet/services/depositManager.ts
  packages/hub/tsconfig.json
  yarn.lock
Labels: package: hub

#439 [rps] [channel-client] Continue expanding the Channel Client API
  packages/rps/src/utils/channelClient.ts
Labels: package: channel-client, package: rps

#459 [rps] Test app in ci environment
  packages/rps/package.json
Labels: package: rps

#440 [wallet] Implement GetAddress json-rpc call in the wallet
  packages/wallet/notes/actions.md
  packages/wallet/package.json
  packages/wallet/src/__stories__/dummy-wallet-states.ts
  packages/wallet/src/__stories__/index.tsx
  packages/wallet/src/containers/wallet.tsx
  packages/wallet/src/contract-tests/adjudicator-events.test.ts
  packages/wallet/src/contract-tests/test-utils.ts
  packages/wallet/src/contract-tests/transactions.test.ts
  packages/wallet/src/redux/__tests__/helpers.ts
  packages/wallet/src/redux/__tests__/initialized.test.ts
  packages/wallet/src/redux/__tests__/initializing.test.ts
  packages/wallet/src/redux/__tests__/selectors.test.ts
  packages/wallet/src/redux/actions.ts
  packages/wallet/src/redux/outbox/state.ts
  packages/wallet/src/redux/reducer.ts
  packages/wallet/src/redux/sagas/__tests__/message-handler.test.ts
  packages/wallet/src/redux/sagas/__tests__/message-listener.test.ts
  packages/wallet/src/redux/sagas/__tests__/message-sender.test.ts
  packages/wallet/src/redux/sagas/message-handler.ts
  packages/wallet/src/redux/sagas/message-listener.ts
  packages/wallet/src/redux/sagas/message-sender.ts
  packages/wallet/src/redux/sagas/post-message-listener.ts
  packages/wallet/src/redux/sagas/saga-manager.ts
  packages/wallet/src/redux/selectors.ts
  packages/wallet/src/redux/state.ts
  packages/wallet/src/web3.ts
  yarn.lock
Labels: package: wallet

#451 [rps] Some initial changes to RPS states
  packages/rps/notes/user-workflows-new-api
  packages/rps/notes/user-workflows-new-api.png
  packages/rps/src/contract-tests/rock-paper-scissors.test.ts
  packages/rps/src/core/__tests__/app-data.test.ts
  packages/rps/src/core/app-data.ts
  packages/rps/src/core/channel-state.ts
  packages/rps/src/core/index.ts
  packages/rps/src/redux/game/reducer.ts
Labels: package: rps

#458 [rps] [channel-client] Adds error codes
  packages/rps/src/utils/channelClient.ts
Labels: package: channel-client, package: rps

#463 [wallet] Fix message handler test
  packages/wallet/src/redux/sagas/__tests__/message-handler.test.ts
Labels: package: wallet

#461 [hub] wire up handling ongoing process actions
  packages/hub/src/hub/handlers/handle-ongoing-process-action.ts
  packages/hub/src/test/test_data.ts
  packages/hub/src/wallet/db/migrations/20190215150548_channels.ts
  packages/hub/src/wallet/db/migrations/20190219211138_channel_states.ts
  packages/hub/src/wallet/db/queries/__test__/channels.test.ts
  packages/hub/src/wallet/db/queries/channels.ts
  packages/hub/src/wallet/db/queries/getCurrentState.ts
  packages/hub/src/wallet/db/seeds/2_allocator_channels_seed.ts
  packages/hub/src/wallet/index.ts
  packages/hub/src/wallet/models/channelState.ts
  packages/hub/src/wallet/services/__test__/channelManager.test.ts
  packages/hub/src/wallet/services/__test__/ledgerChannelManager.test.ts
  packages/hub/src/wallet/services/channelManager.ts
  packages/hub/src/wallet/services/depositManager.ts
  packages/hub/src/wallet/services/ledgerChannelManager.ts
  yarn.lock
Labels: package: hub

#467 [monorepo] Disable custom netlify configuration in production
  netlify.toml
Labels: monorepo

#468 [rps] RockPaperScissorsGame -> RockPaperScissors
  packages/rps/.env
  packages/rps/.gitignore
  packages/rps/config/env.js
  packages/rps/contracts/pre_built_artifacts/Migrations.json
  packages/rps/contracts/pre_built_artifacts/RockPaperScissors.json
  packages/rps/contracts/pre_built_artifacts/RockPaperScissorsGame.json
  packages/rps/contracts/pre_built_artifacts/RockPaperScissorsState.json
  packages/rps/contracts/pre_built_artifacts/State.json
  packages/rps/deployment/deploy-test.js
  packages/rps/deployment/deploy.js
  packages/rps/migrations/1_initial_migration.js
  packages/rps/migrations/2_deploy_contracts.js
  packages/rps/notes/RockPaperScissorsGameRules.md
  packages/rps/package.json
  packages/rps/src/redux/login/saga.ts
  packages/rps/src/redux/metamask/saga.ts
  packages/rps/truffle.js
  packages/rps/tsconfig.json
  yarn.lock
Labels: package: rps

#472 [monorepo] Do not netlify-ignore if changes made w.r.t master
  netlify-ignore.sh
Labels: monorepo

#460 [rps] Optimize rps contract
  packages/rps/config/jest/jest.config.js
  packages/rps/config/jest/jest.contracts.config.js
  packages/rps/config/jest/jest.setup.js
  packages/rps/contracts/Migrations.sol
  packages/rps/contracts/RockPaperScissors.sol
  packages/rps/package.json
  packages/rps/src/contract-tests/rock-paper-scissors.test.ts
  yarn.lock
Labels: package: rps

#466 [wallet] Implement Create Channel API Call
  packages/wallet/package.json
  packages/wallet/src/redux/__tests__/selectors.test.ts
  packages/wallet/src/redux/__tests__/state-helpers.ts
  packages/wallet/src/redux/actions.ts
  packages/wallet/src/redux/channel-store/channel-state/__tests__/index.ts
  packages/wallet/src/redux/channel-store/channel-state/states.ts
  packages/wallet/src/redux/channel-store/channel-state/valid-transition.ts
  packages/wallet/src/redux/channel-store/reducer.ts
  packages/wallet/src/redux/protocols/actions.ts
  packages/wallet/src/redux/protocols/advance-channel/reducer.ts
  packages/wallet/src/redux/protocols/application/__tests__/reducer.test.ts
  packages/wallet/src/redux/protocols/application/__tests__/scenarios.ts
  packages/wallet/src/redux/protocols/application/reducer.ts
  packages/wallet/src/redux/protocols/application/states.ts
  packages/wallet/src/redux/protocols/reducer-helpers.ts
  packages/wallet/src/redux/reducer.ts
  packages/wallet/src/redux/sagas/__tests__/message-handler.test.ts
  packages/wallet/src/redux/sagas/__tests__/message-sender.test.ts
  packages/wallet/src/redux/sagas/message-handler.ts
  packages/wallet/src/redux/sagas/message-sender.ts
  packages/wallet/src/redux/selectors.ts
  packages/wallet/src/redux/state.ts
  packages/wallet/src/utils/json-rpc-utils.ts
  yarn.lock
Labels: package: wallet

#479 [hub] Guarantor channels
  packages/hub/src/test/test-constants.ts
  packages/hub/src/test/test_data.ts
  packages/hub/src/wallet/__test__/depositManager.test.ts
  packages/hub/src/wallet/__test__/wallet.test.ts
  packages/hub/src/wallet/db/migrations/20190215150548_channels.ts
  packages/hub/src/wallet/db/migrations/20190219211138_channel_states.ts
  packages/hub/src/wallet/db/queries/__test__/channels.test.ts
  packages/hub/src/wallet/db/queries/channels.ts
  packages/hub/src/wallet/db/queries/walletProcess.ts
  packages/hub/src/wallet/db/seeds/2_allocator_channels_seed.ts
  packages/hub/src/wallet/db/utils.ts
  packages/hub/src/wallet/models/__test__/channelState.test.ts
  packages/hub/src/wallet/models/allocation.ts
  packages/hub/src/wallet/models/channelParticipants.ts
  packages/hub/src/wallet/models/channelState.ts
  packages/hub/src/wallet/models/outcome.ts
  packages/hub/src/wallet/services/__test__/channelManager.test.ts
  packages/hub/src/wallet/services/__test__/ledgerChannelManager.test.ts
  packages/hub/src/wallet/utilities/outcome.ts
Labels: package: hub

#471 Clearer naming of deposit related functions
  packages/nitro-protocol/src/index.ts
  packages/wallet/src/contract-tests/adjudicator-events.test.ts
  packages/wallet/src/contract-tests/eth-asset-holder-events.test.ts
  packages/wallet/src/contract-tests/test-utils.ts
  packages/wallet/src/contract-tests/transactions.test.ts
  packages/wallet/src/redux/protocols/direct-funding/reducer.ts
  packages/wallet/src/utils/transaction-generator.ts
Labels: package: nitro-protocol, package: wallet

#483 [rps] Unbake NODE_ENV from contracts:deploy script
  packages/rps/.env
  packages/rps/bin/start-ganache.js
  packages/rps/package.json
Labels: package: rps

#495 [wallet] Fix Update Channel Response
  packages/wallet/src/redux/actions.ts
  packages/wallet/src/redux/sagas/__tests__/message-handler.test.ts
  packages/wallet/src/redux/sagas/__tests__/message-sender.test.ts
  packages/wallet/src/redux/sagas/message-handler.ts
  packages/wallet/src/redux/sagas/message-sender.ts
Labels: package: wallet

#496 [wallet] Add Join Channel API
  packages/wallet/src/redux/actions.ts
  packages/wallet/src/redux/sagas/__tests__/message-handler.test.ts
  packages/wallet/src/redux/sagas/message-handler.ts
  packages/wallet/src/redux/sagas/message-sender.ts
Labels: package: wallet

#493 [api] Add Push Message Errors
  packages/app-wallet-interface/source/index.html.md
Labels: api-docs

#482 [rps] Scrub out wallet
  packages/rps/src/redux/login/saga.ts
  packages/rps/src/redux/message-service/saga.ts
  yarn.lock
Labels: package: rps

#484 [hub] Further support for guarantees
  packages/hub/src/hub/handlers/__test__/handle-ongoing-process-action.test.ts
  packages/hub/src/hub/handlers/handle-new-process-action.ts
  packages/hub/src/hub/handlers/handle-ongoing-process-action.ts
  packages/hub/src/test/test-constants.ts
  packages/hub/src/test/test_data.ts
  packages/hub/src/wallet/adjudicator-watcher/__chain-test__/adjudicator-watcher.test.ts
  packages/hub/src/wallet/db/migrations/20191111110900_allocations.ts
  packages/hub/src/wallet/db/queries/__test__/channels.test.ts
  packages/hub/src/wallet/db/queries/channels.ts
  packages/hub/src/wallet/db/seeds/2_allocator_channels_seed.ts
  packages/hub/src/wallet/db/seeds/3_wallet_processes.ts
  packages/hub/src/wallet/models/__test__/channelState.test.ts
  packages/hub/src/wallet/models/channelState.ts
  packages/hub/src/wallet/models/outcome.ts
  packages/hub/src/wallet/services/__test__/channelManager.test.ts
  packages/hub/src/wallet/services/__test__/ledgerChannelManager.test.ts
  packages/hub/src/wallet/utilities/outcome.ts
Labels: package: hub

#480 [wallet] Message opponent when a channel is created
  packages/wallet/src/redux/__tests__/helpers.ts
  packages/wallet/src/redux/actions.ts
  packages/wallet/src/redux/outbox/state.ts
  packages/wallet/src/redux/sagas/__tests__/message-handler.test.ts
  packages/wallet/src/redux/sagas/__tests__/message-sender.test.ts
  packages/wallet/src/redux/sagas/message-handler.ts
  packages/wallet/src/redux/sagas/message-sender.ts
  packages/wallet/src/redux/sagas/saga-manager.ts
  packages/wallet/src/utils/json-rpc-utils.ts
Labels: package: wallet

#502 [nitro-protocol] Replace TSLint with ESlint in Nitro Protocol
  packages/nitro-protocol/.eslintignore
  packages/nitro-protocol/.eslintrc.js
  packages/nitro-protocol/.gitignore
  packages/nitro-protocol/ganache/deployer.ts
  packages/nitro-protocol/ganache/index.ts
  packages/nitro-protocol/package.json
  packages/nitro-protocol/src/contract/challenge.ts
  packages/nitro-protocol/src/contract/consensus-app.ts
  packages/nitro-protocol/src/contract/force-move-app.ts
  packages/nitro-protocol/src/contract/outcome.ts
  packages/nitro-protocol/src/contract/transaction-creators/asset-holder.ts
  packages/nitro-protocol/src/contract/transaction-creators/consensus-app.ts
  packages/nitro-protocol/src/contract/transaction-creators/erc20-asset-holder.ts
  packages/nitro-protocol/src/contract/transaction-creators/eth-asset-holder.ts
  packages/nitro-protocol/src/contract/transaction-creators/force-move.ts
  packages/nitro-protocol/src/contract/transaction-creators/nitro-adjudicator.ts
  packages/nitro-protocol/src/contract/types.ts
  packages/nitro-protocol/src/index.ts
  packages/nitro-protocol/src/signatures.ts
  packages/nitro-protocol/src/transactions.ts
  packages/nitro-protocol/test/contracts/AssetHolder/claimAll.test.ts
  packages/nitro-protocol/test/contracts/AssetHolder/isExternalDestination.test.ts
  packages/nitro-protocol/test/contracts/AssetHolder/setOutcome.test.ts
  packages/nitro-protocol/test/contracts/AssetHolder/transferAll.test.ts
  packages/nitro-protocol/test/contracts/ConsensusApp/validTransition.test.ts
  packages/nitro-protocol/test/contracts/ERC20AssetHolder/deposit.test.ts
  packages/nitro-protocol/test/contracts/ETHAssetHolder/deposit.test.ts
  packages/nitro-protocol/test/contracts/ForceMove/_acceptableWhoSignedWhat.test.ts
  packages/nitro-protocol/test/contracts/ForceMove/_isAddressInArray.test.ts
  packages/nitro-protocol/test/contracts/ForceMove/_recoverSigner.test.ts
  packages/nitro-protocol/test/contracts/ForceMove/_validSignatures.test.ts
  packages/nitro-protocol/test/contracts/ForceMove/checkpoint.test.ts
  packages/nitro-protocol/test/contracts/ForceMove/conclude.test.ts
  packages/nitro-protocol/test/contracts/ForceMove/forceMove.test.ts
  packages/nitro-protocol/test/contracts/ForceMove/respond.test.ts
  packages/nitro-protocol/test/contracts/ForceMove/storage.test.ts
  packages/nitro-protocol/test/contracts/NitroAdjudicator/concludePushOutcomeAndTransferAll.test.ts
  packages/nitro-protocol/test/contracts/NitroAdjudicator/pushOutcome.test.ts
  packages/nitro-protocol/test/contracts/NitroAdjudicator/pushOutcomeAndTransferAll.test.ts
  packages/nitro-protocol/test/contracts/TrivalApp/validTransition.test.ts
  packages/nitro-protocol/test/contracts/examples/SingleAssetPayments/validTransition.test.ts
  packages/nitro-protocol/test/src/contract/consensus-data.test.ts
  packages/nitro-protocol/test/src/transactions.test.ts
  packages/nitro-protocol/test/test-helpers.test.ts
  packages/nitro-protocol/test/test-helpers.ts
  packages/nitro-protocol/tsconfig.json
  packages/nitro-protocol/tslint.json
  tslint.json
  yarn.lock
Labels: package: nitro-protocol

#499 [rps] Add channelUpdatedListener()
  packages/rps/src/redux/game/actions.ts
  packages/rps/src/redux/message-service/channel-updated-listener.ts
  packages/rps/src/redux/message-service/message-queued-listener.ts
  packages/rps/src/utils/channelClient.ts
Labels: package: rps

#498 [rps] Add firebaseInboxListener()
  packages/rps/src/redux/message-service/firebase-inbox-listener.ts
Labels: package: rps

#504 [Wallet] - Use objects instead of strings when calling PostMessage
  packages/wallet/src/redux/sagas/__tests__/message-handler.test.ts
  packages/wallet/src/redux/sagas/__tests__/message-sender.test.ts
  packages/wallet/src/redux/sagas/message-handler.ts
  packages/wallet/src/redux/sagas/message-sender.ts
  packages/wallet/src/redux/sagas/post-message-listener.ts
Labels: package: wallet

#507 Move Ganache Deployer to its own package
  .circleci/config.yml
  packages/devtools/src/utils/ganache-server.ts
  packages/ganache-deployer/.env
  packages/ganache-deployer/.gitignore
  packages/ganache-deployer/.prettierignore
  packages/ganache-deployer/.prettierrc.js
  packages/ganache-deployer/ganache-network-context.json
  packages/ganache-deployer/package.json
  packages/ganache-deployer/src/deployer.ts
  packages/ganache-deployer/src/index.ts
  packages/ganache-deployer/src/start-script.ts
  packages/ganache-deployer/tsconfig.json
  packages/ganache-deployer/tslint.json
  packages/nitro-protocol/ganache/index.ts
  packages/nitro-protocol/package.json
  packages/nitro-protocol/test/test-helpers.ts
  packages/rps/src/contract-tests/rock-paper-scissors.test.ts
  packages/wallet/package.json
  packages/wallet/scripts/start.js
  packages/wallet/src/utils/contract-utils.ts
  readme.md
  yarn.lock
Labels: contract-deployer

#510 Tidy up (given new approach to deployment)
  packages/devtools/src/utils/ganache-server.ts
  packages/ganache-deployer/readme.md
  packages/nitro-protocol/deployment/deploy-test.js
  packages/nitro-protocol/deployment/deploy.js
  packages/nitro-protocol/package.json
  packages/rps/deployment/deploy.ts
  packages/wallet/deployment/deploy-test.js
  packages/wallet/deployment/deploy.js
  packages/wallet/package.json
  readme.md
Labels: documentation, package: devtools, package: nitro-protocol, package: wallet

#509 [hub] Use asset holder
  packages/hub/contracts/Migrations.sol
  packages/hub/contracts/TestContract.sol
  packages/hub/migrations/1_initial_migration.js
  packages/hub/migrations/2_deploy_contracts.js
  packages/hub/package.json
  packages/hub/src/constants.ts
  packages/hub/src/hub/server.ts
  packages/hub/src/utilities/contracts.ts
  packages/hub/src/wallet/__test__/depositManager.test.ts
  packages/hub/src/wallet/adjudicator-watcher/__chain-test__/adjudicator-watcher.test.ts
  packages/hub/src/wallet/adjudicator-watcher/index.ts
  packages/hub/src/wallet/asset-holder-watcher/__chain-test__/asset-holder-watcher.test.ts
  packages/hub/src/wallet/asset-holder-watcher/index.ts
  packages/hub/src/wallet/db/queries/__test__/channels.test.ts
  packages/hub/src/wallet/db/queries/channels.ts
  packages/hub/src/wallet/db/queries/getCurrentState.ts
  packages/hub/src/wallet/db/queries/walletProcess.ts
  packages/hub/src/wallet/models/__test__/channelState.test.ts
  packages/hub/src/wallet/services/blockchain.ts
  packages/hub/src/wallet/services/depositManager.ts
  packages/hub/src/wallet/utilities/blockchain.ts
  yarn.lock
Labels: package: hub

#520 Fix netlify error
  netlify-ignore.sh
Labels: monorepo

#527 [Wallet] Add json-rpc validation
  packages/wallet/package.json
  packages/wallet/src/json-rpc-validation/schema/create-channel.json
  packages/wallet/src/json-rpc-validation/schema/definitions.json
  packages/wallet/src/json-rpc-validation/schema/get-address.json
  packages/wallet/src/json-rpc-validation/schema/join-channel.json
  packages/wallet/src/json-rpc-validation/schema/notification.json
  packages/wallet/src/json-rpc-validation/schema/push-message.json
  packages/wallet/src/json-rpc-validation/schema/request.json
  packages/wallet/src/json-rpc-validation/schema/response.json
  packages/wallet/src/json-rpc-validation/schema/update-channel.json
  packages/wallet/src/json-rpc-validation/validator.ts
  packages/wallet/src/redux/actions.ts
  packages/wallet/src/redux/sagas/__tests__/message-handler.test.ts
  packages/wallet/src/redux/sagas/message-handler.ts
  packages/wallet/src/redux/sagas/message-sender.ts
  packages/wallet/tsconfig.json
  yarn.lock
Labels: package: wallet

#526 Hub: support multiple asset holders per channel
  packages/ganache-deployer/ganache-network-context.json
  packages/hub/src/hub/server.ts
  packages/hub/src/test/test-constants.ts
  packages/hub/src/wallet/__test__/depositManager.test.ts
  packages/hub/src/wallet/db/migrations/20190215150548_channels.ts
  packages/hub/src/wallet/db/migrations/20191121125000_holdings.ts
  packages/hub/src/wallet/db/queries/channels.ts
  packages/hub/src/wallet/db/seeds/2_allocator_channels_seed.ts
  packages/hub/src/wallet/models/channel.ts
  packages/hub/src/wallet/models/channelHoldings.ts
  packages/hub/src/wallet/services/__chain-test__/asset-holder-watcher.test.ts
  packages/hub/src/wallet/services/asset-holder-watcher.ts
  packages/hub/src/wallet/services/depositManager.ts
Labels: package: hub

#513 RPS Game v2
  packages/rps/.env
  packages/rps/.storybook/config.js
  packages/rps/.storybook/webpack.config.js
  packages/rps/notes/new-architecture.drawio
  packages/rps/package.json
  packages/rps/scripts/start.js
  packages/rps/src/constants.ts
  packages/rps/src/core/channel-state.ts
  packages/rps/src/core/index.ts
  packages/rps/src/core/results.ts
  packages/rps/src/redux/game-v2/__tests__/integration.test.ts
  packages/rps/src/redux/game-v2/__tests__/scenarios.ts
  packages/rps/src/redux/game-v2/actions.ts
  packages/rps/src/redux/game-v2/reducer.ts
  packages/rps/src/redux/game-v2/saga.ts
  packages/rps/src/redux/game-v2/state.ts
  packages/rps/src/redux/game/actions.ts
  packages/rps/src/redux/message-service/channel-updated-listener.ts
  packages/rps/src/redux/message-service/firebase-inbox-listener.ts
  packages/rps/src/redux/message-service/message-queued-listener.ts
  packages/rps/src/utils/channel-client.ts
  packages/rps/src/utils/rps-channel-client.ts
  packages/rps/src/utils/unreachable.ts
  yarn.lock
Labels: package: rps

#534 [devtools] Replace TSLint with ESlint in Devtools
  packages/channel-provider/.eslintrc.js
  packages/devtools/.eslintignore
  packages/devtools/.eslintrc.js
  packages/devtools/package.json
  packages/devtools/src/config/env.ts
  packages/devtools/src/constants.ts
  packages/devtools/src/index.ts
  packages/devtools/src/utils/expect-revert.ts
  packages/devtools/src/utils/ganache-server.ts
  packages/devtools/src/utils/increase-time.ts
  packages/devtools/src/utils/network-setup.ts
  packages/devtools/tslint.json
  packages/embedded-wallet/package.json
  packages/nitro-protocol/.eslintrc.js
Labels: package: devtools

#505 Start on Cypress Integration Testing
  .circleci/config.yml
  packages/nitro-protocol/src/contract/challenge.ts
  packages/nitro-protocol/src/contract/channel.ts
  packages/nitro-protocol/src/contract/outcome.ts
  packages/nitro-protocol/src/contract/state.ts
  packages/nitro-protocol/src/signatures.ts
  packages/wallet/cypress.json
  packages/wallet/cypress/helpers.ts
  packages/wallet/cypress/integration/player-a.ts
  packages/wallet/cypress/plugins/cy-ts-preprocessor.js
  packages/wallet/cypress/plugins/index.js
  packages/wallet/cypress/tsconfig.json
  packages/wallet/package.json
  packages/wallet/scripts/start.js
  packages/wallet/src/redux/sagas/__tests__/message-handler.test.ts
  packages/wallet/src/redux/sagas/message-handler.ts
  packages/wallet/src/utils/json-rpc-utils.ts
  yarn.lock
Labels: package: wallet

#511 [rps] FirebaseInboxListener tweaks
  packages/rps/src/redux/message-service/firebase-inbox-listener.ts
  packages/rps/src/redux/store.ts
  packages/rps/src/utils/channel-client.ts
Labels: package: rps

#536 [Wallet] Allow tests to run without requiring ganache
  packages/wallet/config/jest/jest.contracts.config.js
  packages/wallet/src/setupContractTests.ts
  packages/wallet/src/setupTests.ts
Labels: package: wallet

#538 [wallet] Send Message to opponent's wallet when joining a channel
  packages/wallet/src/redux/actions.ts
  packages/wallet/src/redux/sagas/__tests__/message-handler.test.ts
  packages/wallet/src/redux/sagas/__tests__/message-sender.test.ts
  packages/wallet/src/redux/sagas/message-handler.ts
  packages/wallet/src/redux/sagas/message-sender.ts
  packages/wallet/src/utils/json-rpc-utils.ts
Labels: package: wallet

#541 [wallet/nitro-protocol] Comment out pure-evm use
  packages/nitro-protocol/src/contract/consensus-app.ts
  packages/nitro-protocol/src/contract/force-move-app.ts
  packages/wallet/src/redux/channel-store/channel-state/valid-transition.ts
Labels: package: nitro-protocol, package: wallet

#535 [wallet] Fix Invalid Outgoing Message
  packages/wallet/src/redux/sagas/message-sender.ts
  packages/wallet/src/utils/json-rpc-utils.ts
Labels: package: wallet

#539 [embedded-wallet] Replace TSLint with ESlint in Embedded Wallet
  packages/channel-provider/package.json
  packages/devtools/package.json
  packages/embedded-wallet/.eslintignore
  packages/embedded-wallet/.eslintrc.js
  packages/embedded-wallet/package.json
  packages/embedded-wallet/src/app/App.tsx
  packages/embedded-wallet/src/flow-router/FlowRouter.tsx
  packages/embedded-wallet/src/flows/onboarding/Onboarding.test.tsx
  packages/embedded-wallet/src/flows/onboarding/Onboarding.tsx
  packages/embedded-wallet/src/json-rpc-router/JsonRpcRoute.tsx
  packages/embedded-wallet/src/json-rpc-router/JsonRpcRouter.test.tsx
  packages/embedded-wallet/src/react-app-env.d.ts
  packages/embedded-wallet/src/test-utils/mock-flow-context.ts
  packages/embedded-wallet/src/ui/button/Button.tsx
  packages/embedded-wallet/src/ui/flow-process/FlowProcess.tsx
  packages/embedded-wallet/src/ui/slider/Slider.tsx
  packages/embedded-wallet/tslint.json
  packages/ganache-deployer/package.json
  packages/nitro-protocol/package.json
  yarn.lock
Labels: package: embedded-wallet

#531 [rps] Get screens for new states displaying in storybook
  packages/rps/src/__stories__/index.tsx
  packages/rps/src/components/ConcludeStep.tsx
  packages/rps/src/components/ErrorPage.tsx
  packages/rps/src/components/FundingConfirmedPage.tsx
  packages/rps/src/components/Header.tsx
  packages/rps/src/components/ResultPage.tsx
  packages/rps/src/components/WaitForOpponentToPickWeapon.tsx
  packages/rps/src/components/WaitForResignationAcknowledgement.tsx
  packages/rps/src/components/WaitForWallet.tsx
  packages/rps/src/components/index.tsx
  packages/rps/src/containers/ApplicationContainer.tsx
  packages/rps/src/containers/CreatingOpenGameContainer.tsx
  packages/rps/src/containers/GameBarContainer.tsx
  packages/rps/src/containers/GameContainer.tsx
  packages/rps/src/containers/GameFooterContainer.tsx
  packages/rps/src/containers/HomePageContainer.tsx
  packages/rps/src/containers/NavigationBarContainer.tsx
  packages/rps/src/containers/__tests__/GameContainer.test.tsx
  packages/rps/src/redux/game-v2/__tests__/scenarios.ts
  packages/rps/src/redux/game-v2/reducer.ts
  packages/rps/src/redux/game-v2/state.ts
  packages/rps/src/redux/reducer.ts
Labels: package: rps

#556 [rps] Migrate to v2 game
  packages/rps/src/__stories__/index.tsx
  packages/rps/src/containers/ApplicationContainer.tsx
  packages/rps/src/containers/CreatingOpenGameContainer.tsx
  packages/rps/src/containers/GameBarContainer.tsx
  packages/rps/src/containers/GameContainer.tsx
  packages/rps/src/containers/GameFooterContainer.tsx
  packages/rps/src/containers/__tests__/GameContainer.test.tsx
  packages/rps/src/contract-tests/rock-paper-scissors.test.ts
  packages/rps/src/core/__tests__/app-data.test.ts
  packages/rps/src/core/app-data.ts
  packages/rps/src/core/results.ts
  packages/rps/src/redux/game-v2/__tests__/helpers.ts
  packages/rps/src/redux/game-v2/__tests__/player-a.test.ts
  packages/rps/src/redux/game-v2/__tests__/player-b.test.ts
  packages/rps/src/redux/game-v2/actions.ts
  packages/rps/src/redux/game-v2/reducer.ts
  packages/rps/src/redux/game-v2/state.ts
  packages/rps/src/redux/game/__tests__/helpers.ts
  packages/rps/src/redux/game/__tests__/player-a.test.ts
  packages/rps/src/redux/game/__tests__/player-b.test.ts
  packages/rps/src/redux/game/__tests__/scenarios.ts
  packages/rps/src/redux/game/__tests__/starting-game.test.ts
  packages/rps/src/redux/game/actions.ts
  packages/rps/src/redux/game/reducer.ts
  packages/rps/src/redux/game/saga.ts
  packages/rps/src/redux/game/state.ts
  packages/rps/src/redux/message-service/channel-updated-listener.ts
  packages/rps/src/redux/message-service/saga.ts
  packages/rps/src/redux/message-service/state.ts
  packages/rps/src/redux/open-games/saga.ts
  packages/rps/src/redux/reducer.ts
  packages/rps/src/redux/store.ts
  packages/rps/src/utils/__tests__/rps-channel-client.test.ts
Labels: package: rps

#565 [rps] Tweak start script
  packages/rps/package.json
  packages/rps/scripts/start.js
Labels: package: rps

#563 RPS AutoPlayer and AutoOpponent
  packages/rps/src/components/LobbyPage.tsx
  packages/rps/src/components/OpenGameCard.tsx
  packages/rps/src/redux/auto-opponent/__tests__/auto-opponent.test.ts
  packages/rps/src/redux/auto-opponent/auto-opponent.ts
  packages/rps/src/redux/auto-opponent/auto-player.ts
  packages/rps/src/redux/auto-opponent/index.ts
  packages/rps/src/redux/game/__tests__/player-a.test.ts
  packages/rps/src/redux/game/actions.ts
  packages/rps/src/redux/game/saga.ts
  packages/rps/src/redux/message-service/channel-updated-listener.ts
  packages/rps/src/redux/message-service/message-queued-listener.ts
  packages/rps/src/utils/channel-client.ts
Labels: package: rps

#562 [rps] Get RPS playing against itself with fake wallet client
  packages/ganache-deployer/ganache-network-context.json
  packages/rps/src/components/CreatingOpenGameModal.tsx
  packages/rps/src/components/LobbyPage.tsx
  packages/rps/src/components/WaitForResting.tsx
  packages/rps/src/components/index.tsx
  packages/rps/src/containers/GameContainer.tsx
  packages/rps/src/redux/game/actions.ts
  packages/rps/src/redux/game/reducer.ts
  packages/rps/src/redux/game/saga.ts
  packages/rps/src/redux/game/state.ts
  packages/rps/src/redux/login/actions.ts
  packages/rps/src/redux/login/saga.ts
  packages/rps/src/redux/message-service/channel-updated-listener.ts
  packages/rps/src/redux/message-service/firebase-inbox-listener.ts
  packages/rps/src/redux/message-service/message-queued-listener.ts
  packages/rps/src/redux/open-games/saga.ts
  packages/rps/src/redux/store.ts
  packages/rps/src/utils/channel-client.ts
  packages/rps/src/utils/rps-channel-client.ts
Labels: package: rps

#542 [hub] Replace TSLint with ESlint in Hub
  packages/channel-provider/tslint.json
  packages/hub/.eslintignore
  packages/hub/.eslintrc.js
  packages/hub/config/env.js
  packages/hub/config/jest/jest.chain.config.js
  packages/hub/config/jest/jest.config.js
  packages/hub/config/paths.js
  packages/hub/package.json
  packages/hub/src/__test__/integration/blockchain.test.ts
  packages/hub/src/config/knexSetupTeardown.ts
  packages/hub/src/hub/handlers/handle-ongoing-process-action.ts
  packages/hub/src/hub/server.ts
  packages/hub/src/message/firebase-relay.ts
  packages/hub/src/test/test-constants.ts
  packages/hub/src/wallet/__test__/wallet.test.ts
  packages/hub/src/wallet/db/connection.ts
  packages/hub/src/wallet/db/migrations/20190215100548_rules.ts
  packages/hub/src/wallet/db/migrations/20190215150548_channels.ts
  packages/hub/src/wallet/db/migrations/20190216153915_channel_participants.ts
  packages/hub/src/wallet/db/migrations/20190219211138_channel_states.ts
  packages/hub/src/wallet/db/migrations/20190506124322_wallet_processes.ts
  packages/hub/src/wallet/db/migrations/20191111103200_outcomes.ts
  packages/hub/src/wallet/db/migrations/20191111110900_allocations.ts
  packages/hub/src/wallet/db/migrations/20191121125000_holdings.ts
  packages/hub/src/wallet/db/seeds/1_rules.ts
  packages/hub/src/wallet/db/seeds/2_allocator_channels_seed.ts
  packages/hub/src/wallet/db/seeds/3_wallet_processes.ts
  packages/hub/src/wallet/index.ts
  packages/hub/src/wallet/services/asset-holder-watcher.ts
  packages/hub/src/wallet/services/blockchain.ts
  packages/hub/src/wallet/services/channelManager.ts
  packages/hub/src/wallet/services/depositManager.ts
  packages/hub/src/wallet/services/ledgerChannelManager.ts
  packages/hub/tsconfig.json
  packages/hub/tslint.json
  yarn.lock
Labels: package: hub

#571 [rps] Remove unused parameters from natspec
  packages/rps/contracts/RockPaperScissors.sol
Labels: package: rps

#570 [rps] Make getLibraryAddress() a regular (!generator) fn
  packages/rps/src/redux/login/saga.ts
Labels: package: rps

#568 Allow auto-player and/or opponent to be started from environment variables
  packages/rps/README.md
  packages/rps/config/env.js
  packages/rps/src/redux/auto-opponent/auto-opponent.ts
  packages/rps/src/redux/auto-opponent/auto-player.ts
  packages/rps/src/redux/game/__tests__/scenarios.ts
  packages/rps/src/redux/store.ts
Labels: package: rps

#580 [wallet] - Various Funding fixes
  packages/wallet/cypress/integration/player-a.ts
  packages/wallet/src/containers/initialized.tsx
  packages/wallet/src/redux/channel-store/channel-state/valid-transition.ts
  packages/wallet/src/redux/channel-store/reducer.ts
  packages/wallet/src/redux/protocols/funding-strategy-negotiation/player-a/__tests__/reducer.test.ts
  packages/wallet/src/redux/protocols/funding-strategy-negotiation/player-a/container.tsx
  packages/wallet/src/redux/protocols/funding-strategy-negotiation/player-a/reducer.ts
  packages/wallet/src/redux/sagas/__tests__/message-handler.test.ts
  packages/wallet/src/redux/sagas/message-handler.ts
  packages/wallet/src/redux/sagas/message-sender.ts
  packages/wallet/src/redux/selectors.ts
Labels: package: wallet

#591 [rps] Do not drop actions from gameSaga
  packages/rps/notes/user-workflows-new-api.drawio
  packages/rps/notes/user-workflows-new-api.png
  packages/rps/src/components/ConfirmGamePage.tsx
  packages/rps/src/containers/GameContainer.tsx
  packages/rps/src/redux/auto-opponent/__tests__/auto-opponent.test.ts
  packages/rps/src/redux/game/reducer.ts
  packages/rps/src/redux/game/saga.ts
  packages/rps/src/redux/open-games/saga.ts
  packages/rps/src/utils/channel-client.ts
Labels: package: rps

#586 Add support for ERC20 deposits & withdrawals on the wallet
  packages/nitro-protocol/src/contract/asset-holder.ts
  packages/nitro-protocol/src/contract/channel-storage.ts
  packages/wallet/notes/actions.md
  packages/wallet/src/constants.ts
  packages/wallet/src/contract-tests/eth-asset-holder-events.test.ts
  packages/wallet/src/redux/actions.ts
  packages/wallet/src/redux/asset-holders-state/__tests__/reducer.test.ts
  packages/wallet/src/redux/asset-holders-state/reducer.ts
  packages/wallet/src/redux/asset-holders-state/state.ts
  packages/wallet/src/redux/protocols/direct-funding/__tests__/scenarios.ts
  packages/wallet/src/redux/protocols/direct-funding/actions.ts
  packages/wallet/src/redux/protocols/direct-funding/reducer.ts
  packages/wallet/src/redux/protocols/existing-ledger-funding/reducer.ts
  packages/wallet/src/redux/protocols/ledger-top-up/reducer.ts
  packages/wallet/src/redux/protocols/new-ledger-channel/reducer.ts
  packages/wallet/src/redux/reducer.ts
  packages/wallet/src/redux/sagas/asset-holder-state-updater.ts
  packages/wallet/src/redux/sagas/asset-holder-watcher.ts
  packages/wallet/src/redux/sagas/eth-asset-holder-watcher.ts
  packages/wallet/src/redux/sagas/saga-manager.ts
  packages/wallet/src/redux/selectors.ts
  packages/wallet/src/redux/state.ts
  packages/wallet/src/setupTests.ts
  packages/wallet/src/utils/contract-utils.ts
  packages/wallet/src/utils/outcome-utils.ts
Labels: do not merge, package: wallet
