Repository statechannels/statechannels, pull requests merged in 2019-09, with the labels that each got.

#3 [web3torrent] Migrates the codebase from @prototypal/web3torrent-pse
  .gitignore
  packages/web3torrent/README.md
  packages/web3torrent/package.json
  packages/web3torrent/public/index.html
  packages/web3torrent/src/index.tsx
  packages/web3torrent/src/paid-streaming-extension.ts
  packages/web3torrent/src/pse-middleware.ts
  packages/web3torrent/src/react-app-env.d.ts
  packages/web3torrent/src/styles.css
  packages/web3torrent/src/types.ts
  packages/web3torrent/src/web3torrent-lib.ts
  packages/web3torrent/tests/basic-functionality.test.ts
  packages/web3torrent/tests/client-seeding-leeching.test.ts
  packages/web3torrent/tests/client-seeding.test.ts
  packages/web3torrent/tests/setup.js
  packages/web3torrent/tests/teardown.js
  packages/web3torrent/tests/utils.ts
  packages/web3torrent/tsconfig.json
  packages/web3torrent/tslint.json
  yarn.lock
Labels: package: web3torrent

#7 [ci] Adds CircleCI configuration
  .circleci/config.yml
  packages/web3torrent/package.json
Labels: ci

#10 [web3torrent] Fixes build process
  packages/web3torrent/package.json
  yarn.lock
Labels: package: web3torrent

#11 [web3torrent] Adds missing implementation details lost on migration
  packages/web3torrent/package.json
  packages/web3torrent/src/index.tsx
  packages/web3torrent/src/paid-streaming-extension.ts
  packages/web3torrent/src/pse-middleware.ts
  packages/web3torrent/src/types.ts
  packages/web3torrent/src/web3torrent-lib.ts
  packages/web3torrent/tests/client-seeding-leeching.test.ts
  packages/web3torrent/tests/time-based-leeching/leeching-125000.test.ts
  packages/web3torrent/tests/time-based-leeching/leeching-35000.test.ts
  packages/web3torrent/tests/time-based-leeching/leeching-5000.test.ts
  packages/web3torrent/tests/time-based-leeching/leeching-65000.test.ts
  yarn.lock
Labels: package: web3torrent

#12 [monorepo] Adds .prettierrc and some minor rule requirements
  .prettierrc
  packages/web3torrent/package.json
  packages/web3torrent/src/index.tsx
  packages/web3torrent/src/types.ts
  tslint.json
  yarn.lock
Labels: monorepo

#13 [ci] Adds CI workflow configuration with Docker
  .circleci/Dockerfile
  .circleci/README.md
  .circleci/config.yml
  package.json
  packages/web3torrent/package.json
Labels: ci

#54 [docs] fix: Grammar - solidity -> Solidity
  packages/nitro-protocol/docs/nitro-intro.md
Labels: documentation

#41 [wallet] [frontend] Implements first version of an Embedded Wallet, with basic data flow
  packages/embedded-wallet/.gitignore
  packages/embedded-wallet/README.md
  packages/embedded-wallet/external-app/index.html
  packages/embedded-wallet/package.json
  packages/embedded-wallet/public/index.html
  packages/embedded-wallet/public/wallet.js
  packages/embedded-wallet/src/app/App.css
  packages/embedded-wallet/src/app/App.test.tsx
  packages/embedded-wallet/src/app/App.tsx
  packages/embedded-wallet/src/index.css
  packages/embedded-wallet/src/index.tsx
  packages/embedded-wallet/src/json-rpc-router/JsonRpcRoute.tsx
  packages/embedded-wallet/src/json-rpc-router/JsonRpcRouter.tsx
  packages/embedded-wallet/src/json-rpc-router/index.ts
  packages/embedded-wallet/src/message-handlers/TestMessage.tsx
  packages/embedded-wallet/src/message-handlers/UnicornMessage.tsx
  packages/embedded-wallet/src/react-app-env.d.ts
  packages/embedded-wallet/src/test-utils/index.ts
  packages/embedded-wallet/src/test-utils/simulate-message.ts
  packages/embedded-wallet/tsconfig.json
  packages/embedded-wallet/tslint.json
  yarn.lock
Labels: frontend, package: wallet

#59 [embedded-wallet] Implements Dialog and Button component
  packages/embedded-wallet/public/app.css
  packages/embedded-wallet/public/index.html
  packages/embedded-wallet/public/sc-logo.png
  packages/embedded-wallet/public/wallet.js
  packages/embedded-wallet/src/app/App.css
  packages/embedded-wallet/src/app/App.tsx
  packages/embedded-wallet/src/index.css
  packages/embedded-wallet/src/message-handlers/TestMessage.tsx
  packages/embedded-wallet/src/ui/animations.css
  packages/embedded-wallet/src/ui/button/Button.module.css
  packages/embedded-wallet/src/ui/button/Button.tsx
  packages/embedded-wallet/src/ui/colors.css
  packages/embedded-wallet/src/ui/dialog/Dialog.module.css
  packages/embedded-wallet/src/ui/dialog/Dialog.tsx
Labels: frontend, package: embedded-wallet

#45 [web3torrent] UI scaffolding and first screen markup
  .prettierrc
  package.json
  packages/web3torrent/package.json
  packages/web3torrent/public/assets/jumbotron.jpeg
  packages/web3torrent/public/assets/logo.jpeg
  packages/web3torrent/src/App.scss
  packages/web3torrent/src/App.tsx
  packages/web3torrent/src/components/form/form-button/FormButton.scss
  packages/web3torrent/src/components/form/form-button/FormButton.test.tsx
  packages/web3torrent/src/components/form/form-button/FormButton.tsx
  packages/web3torrent/src/components/form/form-input/FormInput.scss
  packages/web3torrent/src/components/form/form-input/FormInput.tsx
  packages/web3torrent/src/components/form/index.ts
  packages/web3torrent/src/components/form/spinner/Spinner.scss
  packages/web3torrent/src/components/form/spinner/Spinner.tsx
  packages/web3torrent/src/components/form/types.ts
  packages/web3torrent/src/components/layout/index.ts
  packages/web3torrent/src/components/layout/layout-footer/LayoutFooter.scss
  packages/web3torrent/src/components/layout/layout-footer/LayoutFooter.tsx
  packages/web3torrent/src/components/layout/layout-header/LayoutHeader.scss
  packages/web3torrent/src/components/layout/layout-header/LayoutHeader.test.tsx
  packages/web3torrent/src/components/layout/layout-header/LayoutHeader.tsx
  packages/web3torrent/src/components/share-list/ShareList.scss
  packages/web3torrent/src/components/share-list/ShareList.tsx
  packages/web3torrent/src/components/share-list/share-file/ShareFile.scss
  packages/web3torrent/src/components/share-list/share-file/ShareFile.tsx
  packages/web3torrent/src/index.tsx
  packages/web3torrent/src/library/paid-streaming-extension.ts
  packages/web3torrent/src/library/pse-middleware.ts
  packages/web3torrent/src/library/types.ts
  packages/web3torrent/src/library/web3torrent-lib.ts
  packages/web3torrent/src/logo.svg
  packages/web3torrent/src/pages/welcome/Welcome.scss
  packages/web3torrent/src/pages/welcome/Welcome.tsx
  packages/web3torrent/src/routes.ts
  packages/web3torrent/src/styles/_box-sizing.scss
  packages/web3torrent/src/styles/_button.scss
  packages/web3torrent/src/styles/_layout.scss
  packages/web3torrent/src/styles/_reset.scss
  packages/web3torrent/src/styles/_responsive.scss
  packages/web3torrent/src/styles/_typography.scss
  packages/web3torrent/src/styles/_variables.scss
  packages/web3torrent/tests/basic-functionality.test.ts
  packages/web3torrent/tests/client-seeding.test.ts
  packages/web3torrent/tests/time-based-leeching/leeching-125000.test.ts
  packages/web3torrent/tests/time-based-leeching/leeching-35000.test.ts
  packages/web3torrent/tests/time-based-leeching/leeching-5000.test.ts
  packages/web3torrent/tests/time-based-leeching/leeching-65000.test.ts
  packages/web3torrent/tests/utils.ts
  yarn.lock
Labels: package: web3torrent

#52 [nitro-protocol] Untrack website/i18n/en.json
  packages/nitro-protocol/website/i18n/en.json
Labels: package: nitro-protocol

#73 [monorepo] Updates yarn.lock
  yarn.lock
Labels: dependencies

#38 Nitro-protocol: Switch from truffle to etherlime
  .circleci/config.yml
  package.json
  packages/jest-gas-reporter/src/index.ts
  packages/nitro-protocol/.gitignore
  packages/nitro-protocol/deployment/deploy-test.js
  packages/nitro-protocol/deployment/deploy.js
  packages/nitro-protocol/package.json
  packages/nitro-protocol/test/contracts/ForceMove/checkpoint.test.ts
  packages/nitro-protocol/test/contracts/ForceMove/conclude.test.ts
  packages/nitro-protocol/test/contracts/ForceMove/forceMove.test.ts
  packages/nitro-protocol/test/contracts/ForceMove/respond.test.ts
  packages/nitro-protocol/test/test-helpers.ts
  yarn.lock
Labels: package: nitro-protocol

#72 [documenation] Tweaks to the quick-start and state-format docs.
  packages/nitro-protocol/docs/adjudicator/state-format.md
  packages/nitro-protocol/docs/quick-start.md
Labels: documentation, package: nitro-protocol

#137 Ignore .outputParameter
  packages/nitro-protocol/.gitignore
Labels: package: nitro-protocol

#77 [embedded-wallet] Implements Budget Allocation screen
  packages/embedded-wallet/external-app/index.html
  packages/embedded-wallet/public/index.html
  packages/embedded-wallet/public/wallet.js
  packages/embedded-wallet/src/app/App.test.tsx
  packages/embedded-wallet/src/app/App.tsx
  packages/embedded-wallet/src/json-rpc-router/JsonRpcRouter.tsx
  packages/embedded-wallet/src/message-dispatchers/close-wallet/close-wallet.ts
  packages/embedded-wallet/src/message-dispatchers/index.ts
  packages/embedded-wallet/src/message-handlers/TestMessage.tsx
  packages/embedded-wallet/src/message-handlers/UnicornMessage.tsx
  packages/embedded-wallet/src/message-handlers/budget-allocation/BudgetAllocation.tsx
  packages/embedded-wallet/src/message-handlers/index.ts
  packages/embedded-wallet/src/ui/button/Button.module.css
  packages/embedded-wallet/src/ui/dialog/Dialog.module.css
  packages/embedded-wallet/src/ui/dialog/Dialog.tsx
  packages/embedded-wallet/src/ui/index.ts
  packages/embedded-wallet/src/ui/slider/Slider.module.css
  packages/embedded-wallet/src/ui/slider/Slider.tsx
Labels: frontend, package: embedded-wallet

#109 [embedded-wallet] Implements "Not Connected to a Hub" screen
  packages/embedded-wallet/.env
  packages/embedded-wallet/external-app/index.html
  packages/embedded-wallet/src/app/App.tsx
  packages/embedded-wallet/src/message-handlers/index.ts
  packages/embedded-wallet/src/message-handlers/no-hub/NoHub.tsx
  packages/embedded-wallet/src/ui/button/Button.module.css
  packages/embedded-wallet/src/ui/button/Button.tsx
  packages/embedded-wallet/src/ui/dialog/Dialog.module.css
  packages/embedded-wallet/src/ui/dialog/Dialog.tsx
  packages/embedded-wallet/src/ui/icon/Icon.module.css
  packages/embedded-wallet/src/ui/icon/Icon.tsx
  packages/embedded-wallet/src/ui/icon/svg/check.svg
  packages/embedded-wallet/src/ui/icon/svg/external-link.svg
  packages/embedded-wallet/src/ui/icon/svg/hourglass.svg
  packages/embedded-wallet/src/ui/icon/svg/link.svg
  packages/embedded-wallet/src/ui/index.ts
Labels: frontend, package: embedded-wallet

#140 Remove linting from test scripts.
  .circleci/config.yml
  package.json
  packages/embedded-wallet/package.json
  packages/jest-gas-reporter/package.json
  packages/nitro-protocol/package.json
  packages/wallet/package.json
  packages/wallet/src/contract-tests/adjudicator-events.test.ts
  packages/web3torrent/package.json
  yarn.lock
Labels: ci, monorepo

#70 [nitro-protocol] Introduce Interfaces with NatSpec
  packages/nitro-protocol/contracts/AssetHolder.sol
  packages/nitro-protocol/contracts/ConsensusApp.sol
  packages/nitro-protocol/contracts/CountingApp.sol
  packages/nitro-protocol/contracts/ForceMove.sol
  packages/nitro-protocol/contracts/ForceMoveApp.sol
  packages/nitro-protocol/contracts/NitroAdjudicator.sol
  packages/nitro-protocol/contracts/TrivialApp.sol
  packages/nitro-protocol/contracts/examples/SingleAssetPayments.sol
  packages/nitro-protocol/contracts/inheritance-graph.md
  packages/nitro-protocol/contracts/interfaces/Adjudicator.sol
  packages/nitro-protocol/contracts/interfaces/ForceMoveApp.sol
  packages/nitro-protocol/contracts/interfaces/IAssetHolder.sol
  packages/nitro-protocol/contracts/interfaces/IForceMove.sol
Labels: package: nitro-protocol

#147 [embedded-wallet] Implements "Connect to Hub" screen
  packages/embedded-wallet/external-app/index.html
  packages/embedded-wallet/src/app/App.tsx
  packages/embedded-wallet/src/message-handlers/connect-to-hub/ConnectToHub.tsx
  packages/embedded-wallet/src/message-handlers/index.ts
  packages/embedded-wallet/src/ui/animations.css
  packages/embedded-wallet/src/ui/dialog/Dialog.tsx
  packages/embedded-wallet/src/ui/flow-process/FlowProcess.tsx
  packages/embedded-wallet/src/ui/flow-process/FlowStep.module.css
  packages/embedded-wallet/src/ui/flow-process/FlowStep.tsx
  packages/embedded-wallet/src/ui/index.ts
  packages/embedded-wallet/src/ui/spinner/Spinner.module.css
  packages/embedded-wallet/src/ui/spinner/Spinner.tsx
Labels: frontend, package: embedded-wallet
