Repository statechannels/statechannels, pull requests merged in 2019-12, with the labels that each got.

#598 [Wallet] Fix Failing Test
  packages/wallet/src/redux/sagas/asset-holder-watcher.ts
Labels: package: wallet

#599 [Wallet] Make Sure transaction get sent to correct contract
  packages/wallet/src/contract-tests/transactions.test.ts
  packages/wallet/src/redux/outbox/state.ts
  packages/wallet/src/redux/protocols/direct-funding/reducer.ts
  packages/wallet/src/redux/protocols/dispute/responder/reducer.ts
  packages/wallet/src/redux/protocols/transaction-submission/__tests__/scenarios.ts
  packages/wallet/src/redux/protocols/transaction-submission/reducer.ts
  packages/wallet/src/redux/protocols/transaction-submission/states.ts
  packages/wallet/src/redux/protocols/withdrawing/__tests__/reducer.test.ts
  packages/wallet/src/redux/protocols/withdrawing/reducer.ts
  packages/wallet/src/redux/sagas/transaction-sender.ts
  packages/wallet/src/redux/state.ts
  packages/wallet/src/utils/json-rpc-utils.ts
  packages/wallet/src/utils/transaction-generator.ts
Labels: package: wallet

#615 Hub: postgres db setup
  packages/hub/.env
  packages/hub/config/knexfile.js
  packages/hub/knexfile.ts
  packages/hub/package.json
  packages/hub/readme.md
  packages/hub/src/wallet/db/connection.ts
Labels: package: hub

#597 [wallet] - Add Puppeteer Tests
  .circleci/config.yml
  packages/wallet/config/jest/jest.puppeteer.config.js
  packages/wallet/package.json
  packages/wallet/puppeteer/__tests__/funding.test.ts
  packages/wallet/puppeteer/funding.ts
  packages/wallet/puppeteer/helpers.ts
  packages/wallet/puppeteer/scripts/funding.ts
  yarn.lock
Labels: package: wallet

#550 [jest-gas-reporter] Replace TSLint with ESlint in Jest Gas Reporter
  packages/jest-gas-reporter/.eslintignore
  packages/jest-gas-reporter/.eslintrc.js
  packages/jest-gas-reporter/package.json
  packages/jest-gas-reporter/src/index.ts
  packages/jest-gas-reporter/tslint.json
Labels: package: jest-gas-reporter

#622 [rps] Fixes to the endgame
  packages/rps/.env
  packages/rps/config/env.js
  packages/rps/notes/user-workflows-new-api.drawio
  packages/rps/notes/user-workflows-new-api.png
  packages/rps/package.json
  packages/rps/scripts/start.js
  packages/rps/src/components/GameFooter.tsx
  packages/rps/src/components/GameOverPage.tsx
  packages/rps/src/components/InsufficientFunds.tsx
  packages/rps/src/components/Resigned.tsx
  packages/rps/src/components/ResultPage.tsx
  packages/rps/src/components/index.tsx
  packages/rps/src/containers/GameBarContainer.tsx
  packages/rps/src/containers/GameContainer.tsx
  packages/rps/src/core/channel-state.ts
  packages/rps/src/redux/auto-opponent/__tests__/auto-opponent.test.ts
  packages/rps/src/redux/auto-opponent/auto-player.ts
  packages/rps/src/redux/game/__tests__/player-a.test.ts
  packages/rps/src/redux/game/__tests__/player-b.test.ts
  packages/rps/src/redux/game/__tests__/scenarios.ts
  packages/rps/src/redux/game/actions.ts
  packages/rps/src/redux/game/reducer.ts
  packages/rps/src/redux/game/saga.ts
  packages/rps/src/redux/game/state.ts
  packages/rps/src/redux/login/saga.ts
  packages/rps/src/redux/metamask/saga.ts
  packages/rps/src/redux/open-games/saga.ts
  packages/rps/src/utils/channel-client.ts
  yarn.lock
Labels: package: rps

#629 [wallet] Update puppeteer script
  packages/wallet/package.json
  packages/wallet/puppeteer/helpers.ts
Labels: package: wallet

#633 [wallet] Deposit Fixes
  packages/wallet/src/contract-tests/transactions.test.ts
  packages/wallet/src/redux/protocols/direct-funding/__tests__/reducer.test.ts
  packages/wallet/src/redux/protocols/direct-funding/reducer.ts
  packages/wallet/src/redux/protocols/new-ledger-channel/__tests__/reducer.test.ts
  packages/wallet/src/redux/protocols/new-ledger-channel/reducer.ts
  packages/wallet/src/redux/sagas/transaction-sender.ts
  packages/wallet/src/utils/transaction-generator.ts
Labels: package: wallet

#607 [monorepo] Add VSCode settings
  .vscode/settings.json
  packages/channel-provider/.vscode/settings.json
  packages/devtools/.vscode/settings.json
  packages/embedded-wallet/.vscode/settings.json
  packages/hub/.gitignore
  packages/hub/.vscode/settings.json
  packages/jest-gas-reporter/.vscode/settings.json
  packages/nitro-protocol/.vscode/settings.json
Labels: monorepo

#611 [wallet] Replace TSLint with ESlint in Wallet
  packages/wallet/.eslintignore
  packages/wallet/.eslintrc.js
  packages/wallet/package.json
Labels: package: wallet

#647 [Wallet] Return funding array from API
  packages/wallet/src/redux/sagas/__tests__/message-sender.test.ts
  packages/wallet/src/redux/sagas/message-sender.ts
  packages/wallet/src/redux/selectors.ts
Labels: package: wallet

#643 [wallet] Send out json-rpc notifications for hiding/showing the wallet
  packages/wallet/src/json-rpc-validation/schema/notification.json
  packages/wallet/src/redux/sagas/__tests__/display-sender.test.ts
  packages/wallet/src/redux/sagas/display-sender.ts
Labels: package: wallet

#650 [rps] Refactor game reducer to switch on state, not action
  packages/rps/src/redux/auto-opponent/auto-player.ts
  packages/rps/src/redux/game/__tests__/player-b.test.ts
  packages/rps/src/redux/game/__tests__/scenarios.ts
  packages/rps/src/redux/game/reducer.ts
Labels: package: rps

#649 [hub] use latest ganache deployer
  packages/hub/.env
  packages/hub/config/env.js
  packages/hub/src/config/knexfile.ts
  packages/hub/src/hub/server.ts
  packages/hub/src/message/firebase-relay.ts
  packages/hub/src/start-dev-server.ts
  packages/hub/src/wallet/services/asset-holder-watcher.ts
Labels: package: hub

#657 [hub] update package.json
  packages/hub/package.json
  packages/hub/src/start-dev-server.ts
Labels: package: hub

#664 [wallet] Move messaging actions/sagas into their own folder
  packages/wallet/src/communication/index.ts
  packages/wallet/src/redux/__tests__/helpers.ts
  packages/wallet/src/redux/actions.ts
  packages/wallet/src/redux/outbox/__tests__/reducer.test.ts
  packages/wallet/src/redux/outbox/state.ts
  packages/wallet/src/redux/protocols/dispute/challenger/__tests__/reducer.test.ts
  packages/wallet/src/redux/protocols/dispute/responder/__tests__/reducer.test.ts
  packages/wallet/src/redux/protocols/funding/__tests__/reducer.test.ts
  packages/wallet/src/redux/protocols/funding/reducer.ts
  packages/wallet/src/redux/protocols/reducer-helpers.ts
  packages/wallet/src/redux/sagas/messaging/__tests__/display-sender.test.ts
  packages/wallet/src/redux/sagas/messaging/__tests__/message-handler.test.ts
  packages/wallet/src/redux/sagas/messaging/__tests__/message-sender.test.ts
  packages/wallet/src/redux/sagas/messaging/display-sender.ts
  packages/wallet/src/redux/sagas/messaging/message-handler.ts
  packages/wallet/src/redux/sagas/messaging/message-sender.ts
  packages/wallet/src/redux/sagas/messaging/outgoing-api-actions.ts
  packages/wallet/src/redux/sagas/messaging/post-message-listener.ts
  packages/wallet/src/redux/sagas/saga-manager.ts
  packages/wallet/src/redux/state.ts
Labels: package: wallet

#670 [rps] Run Prettier on more files
  packages/rps/.eslintrc.json
  packages/rps/.prettierrc.js
  packages/rps/.storybook/config.js
  packages/rps/.storybook/mock.js
  packages/rps/.storybook/tsconfig.json
  packages/rps/.storybook/webpack.config.js
  packages/rps/bin/compile.js
  packages/rps/config/jest/jest.setup.js
  packages/rps/config/paths.js
  packages/rps/config/webpack.config.js
  packages/rps/config/webpackDevServer.config.js
  packages/rps/package.json
  packages/rps/scripts/build.js
  packages/rps/src/index.scss
  packages/rps/src/styles/_colors.scss
  packages/rps/src/styles/_dimensions.scss
  packages/rps/src/styles/_fonts.scss
  packages/rps/src/styles/confirm-game.scss
  packages/rps/src/styles/creating-open-game-modal.scss
  packages/rps/src/styles/footer.scss
  packages/rps/src/styles/game-bar.scss
  packages/rps/src/styles/game-over.scss
  packages/rps/src/styles/home-page.scss
  packages/rps/src/styles/layout.scss
  packages/rps/src/styles/lobby.scss
  packages/rps/src/styles/navbar.scss
  packages/rps/src/styles/open-game-card.scss
  packages/rps/src/styles/profile-page.scss
  packages/rps/src/styles/rules.scss
  packages/rps/src/styles/waiting-room.scss
  packages/rps/src/styles/wallet/challenge-expired.scss
  packages/rps/src/styles/wallet/challenge-footer.scss
  packages/rps/src/styles/wallet/challenge-response.scss
  packages/rps/src/styles/wallet/funding-in-progress.scss
  packages/rps/src/styles/wallet/wallet-message.scss
  packages/rps/src/styles/wallet/wallet-welcome.scss
  packages/rps/src/styles/wallet/withdraw-in-progress.scss
  packages/rps/types/globals.d.ts
Labels: package: rps

#668 [wallet] Fix Depositing
  packages/wallet/puppeteer/__tests__/funding.test.ts
  packages/wallet/puppeteer/__tests__/update-state.test.ts
  packages/wallet/puppeteer/helpers.ts
  packages/wallet/src/redux/channel-store/channel-state/states.ts
  packages/wallet/src/redux/protocols/direct-funding/__tests__/reducer.test.ts
  packages/wallet/src/redux/protocols/direct-funding/reducer.ts
  packages/wallet/src/redux/sagas/messaging/__tests__/message-handler.test.ts
  packages/wallet/src/redux/sagas/messaging/__tests__/message-sender.test.ts
  packages/wallet/src/redux/sagas/messaging/message-handler.ts
  packages/wallet/src/redux/sagas/messaging/message-sender.ts
  packages/wallet/src/redux/sagas/messaging/outgoing-api-actions.ts
  packages/wallet/src/redux/selectors.ts
  packages/wallet/src/utils/json-rpc-utils.ts
Labels: package: wallet

#660 [wallet] Swap recipient/sender to be correct
  packages/wallet/src/redux/sagas/messaging/__tests__/message-handler.test.ts
  packages/wallet/src/redux/sagas/messaging/__tests__/message-sender.test.ts
  packages/wallet/src/redux/sagas/messaging/message-handler.ts
  packages/wallet/src/redux/sagas/messaging/message-sender.ts
Labels: package: wallet

#644 [channel-provider] Get channel provider working with wallet
  packages/channel-provider/README.md
  packages/channel-provider/package.json
  packages/channel-provider/src/channel-provider.ts
  packages/channel-provider/src/types.ts
  packages/channel-provider/src/ui-service.ts
  packages/channel-provider/tests/channel-provider.test.ts
  packages/wallet/src/redux/sagas/messaging/message-sender.ts
  yarn.lock
Labels: package: channel-provider

#680 [hub] mimic wallet eslint config
  packages/hub/.eslintrc.js
  packages/hub/package.json
  packages/hub/src/wallet/db/queries/__test__/channels.test.ts
  packages/hub/src/wallet/services/__chain-test__/asset-holder-watcher.test.ts
  packages/hub/src/wallet/services/__test__/channelManager.test.ts
  packages/hub/src/wallet/services/__test__/depositManager.test.ts
Labels: package: hub

#695 [hub] use migrations based on location of knexfile
  packages/hub/.env.test
  packages/hub/readme.md
  packages/hub/src/db-admin/knexfile.ts
Labels: package: hub

#573 [rps] Replace TSLint with ESlint in RPS
  packages/rps/.eslintignore
  packages/rps/.eslintrc.js
  packages/rps/.eslintrc.json
  packages/rps/config/webpack.config.js
  packages/rps/package.json
  packages/rps/src/components/Button.tsx
  packages/rps/src/components/HomePage.tsx
  packages/rps/src/redux/game/saga.ts
  packages/rps/src/redux/metamask/saga.ts
  packages/rps/src/utils/channel-client.ts
  packages/rps/tsconfig.json
  packages/rps/tslint.json
  yarn.lock
Labels: package: rps

#714 [rps] Allow player B to cancel
  packages/rps/src/redux/game/__tests__/player-b.test.ts
  packages/rps/src/redux/game/reducer.ts
Labels: package: rps

#705 Ledger funding working in RPS
  package.json
  packages/app-wallet-interface/source/index.html.md
  packages/channel-client/.gitignore
  packages/channel-client/package.json
  packages/channel-client/src/channel-client.ts
  packages/channel-client/src/error.ts
  packages/channel-client/src/index.ts
  packages/channel-client/src/types.ts
  packages/channel-client/tests/index.test.ts
  packages/channel-client/tsconfig.json
  packages/channel-provider/src/channel-provider.ts
  packages/channel-provider/src/messaging-service.ts
  packages/channel-provider/src/types.ts
  packages/channel-provider/tests/messaging-service.test.ts
  packages/channel-provider/tsconfig.json
  packages/client-api-schema/.eslintrc.js
  packages/rps/.env
  packages/rps/jest/contract-test-setup.ts
  packages/rps/package.json
  packages/rps/scripts/start.js
  packages/rps/src/constants.ts
  packages/rps/src/containers/SiteContainer.tsx
  packages/rps/src/redux/auto-opponent/__tests__/auto-opponent.test.ts
  packages/rps/src/redux/login/actions.ts
  packages/rps/src/redux/login/saga.ts
  packages/rps/src/redux/message-service/firebase-inbox-listener.ts
  packages/rps/src/redux/message-service/message-queued-listener.ts
  packages/rps/src/redux/store.ts
  packages/rps/src/utils/__tests__/rps-channel-client.test.ts
  packages/rps/src/utils/rps-channel-client.ts
  packages/wallet/.env
  packages/wallet/config/jest/jest.puppeteer.config.js
  packages/wallet/puppeteer/__tests__/funding.test.ts
  packages/wallet/puppeteer/__tests__/update-state.test.ts
  packages/wallet/puppeteer/helpers.ts
  packages/wallet/scripts/start.js
  packages/wallet/src/redux/sagas/asset-holder-state-updater.ts
  packages/wallet/src/redux/sagas/messaging/__tests__/message-sender.test.ts
  packages/wallet/src/redux/sagas/messaging/display-sender.ts
  packages/wallet/src/redux/sagas/messaging/message-handler.ts
  packages/wallet/src/redux/sagas/messaging/message-sender.ts
  packages/wallet/src/redux/sagas/saga-manager.ts
  packages/wallet/src/utils/contract-utils.ts
  yarn.lock
Labels: package: channel-client, package: channel-provider, package: rps, package: wallet

#719 [wallet] Fix Ganache Miner to not fail when using Shared ganache
  packages/wallet/src/redux/sagas/ganache-miner.ts
Labels: package: wallet

#724 [build] Wait for wallet page to load in puppeteer
  packages/wallet/puppeteer/helpers.ts
Labels: monorepo

#684 [monorepo] Cleanup Prettier and ESLint config
  packages/devtools/.prettierrc.js
  packages/embedded-wallet/.eslintrc.js
  packages/hub/.prettierrc.js
  packages/nitro-protocol/.prettierrc.js
  packages/wallet/.prettierrc.js
Labels: monorepo

#729 [rps] Use window.ethereum if available
  packages/rps/src/redux/login/saga.ts
  packages/rps/src/redux/metamask/saga.ts
Labels: package: rps

#716 [hub] Channel.Open handler
  packages/hub/src/communication/index.ts
  packages/hub/src/hub/handlers/__test__/handle-wallet-message.test.ts
  packages/hub/src/hub/handlers/handle-new-process-action.ts
  packages/hub/src/hub/handlers/handle-ongoing-process-action.ts
  packages/hub/src/hub/handlers/handle-wallet-message.ts
  packages/hub/src/message/firebase-relay.ts
  packages/hub/src/message/sample-messages/channel-joined.json
  packages/hub/src/message/sample-messages/channel-open.json
  packages/hub/src/message/sample-messages/strategy-proposed.json
Labels: package: hub

#738 [nitro-protocol] Bring nitro jest config in line with rps
  packages/nitro-protocol/config/jest/jest.config.js
  packages/nitro-protocol/config/jest/jest.contracts.config.js
  packages/nitro-protocol/jest.config.js
  packages/nitro-protocol/jest.setup.js
  packages/nitro-protocol/jest/contract-test-setup.ts
  packages/nitro-protocol/jest/contract-test-teardown.ts
  packages/nitro-protocol/package.json
  packages/rps/config/jest/jest.config.js
  packages/rps/config/jest/jest.setup.js
  packages/rps/package.json
  packages/web3torrent/package.json
Labels: package: nitro-protocol

#734 [monorepo] Use ESlint in Web3Torrent and remove TSLint refs everywhere
  package.json
  packages/channel-provider/package.json
  packages/embedded-wallet/.eslintrc.js
  packages/rps/src/utils/rps-channel-client.ts
  packages/web3torrent/.eslintignore
  packages/web3torrent/.eslintrc.js
  packages/web3torrent/.vscode/settings.json
  packages/web3torrent/package.json
  packages/web3torrent/src/library/paid-streaming-extension.ts
  packages/web3torrent/src/library/types.ts
  packages/web3torrent/tslint.json
  tslint.json
  yarn.lock
Labels: monorepo

#732 [monorepo] chore: Remove usages of Magmo in files
  packages/devtools/README.md
  packages/devtools/package.json
  packages/hub/readme.md
  packages/jest-gas-reporter/package.json
  packages/nitro-protocol/docs/forcemove-and-nitro/force-move.md
  packages/nitro-protocol/package.json
Labels: documentation, monorepo

#759 Hub: state channel address configuration
  packages/hub/env.js
  packages/hub/readme.md
  packages/wallet/config/env.js
  packages/wallet/src/constants.ts
Labels: package: hub

#736 [jest-gas-reporter] Store gas consumption as test artifacts
  .circleci/config.yml
  .gitignore
  packages/jest-gas-reporter/src/index.ts
  packages/nitro-protocol/bin/compile.js
  packages/rps/config/jest/jest.config.js
Labels: package: jest-gas-reporter

#768 [rps] Delete messages from firebase (actually)
  packages/rps/src/redux/message-service/firebase-inbox-listener.ts
  packages/rps/src/redux/message-service/message-queued-listener.ts
  packages/wallet/gateways/firebase.ts
Labels: package: rps

#769 [wallet] Fix race condition in Puppeteer test
  packages/wallet/puppeteer/helpers.ts
Labels: package: wallet

#764 [wallet] Implement CloseChannel and get it working
  packages/client-api-schema/schema/request.json
  packages/client-api-schema/schema/response.json
  packages/rps/package.json
  packages/rps/src/redux/message-service/firebase-inbox-listener.ts
  packages/wallet/puppeteer/__tests__/closing.test.ts
  packages/wallet/puppeteer/__tests__/funding.test.ts
  packages/wallet/puppeteer/__tests__/update-state.test.ts
  packages/wallet/puppeteer/helpers.ts
  packages/wallet/src/communication/index.ts
  packages/wallet/src/communication/protocol-locator.ts
  packages/wallet/src/redux/actions.ts
  packages/wallet/src/redux/protocols/close-ledger-channel/__tests__/reducer.test.ts
  packages/wallet/src/redux/protocols/close-ledger-channel/__tests__/scenarios.ts
  packages/wallet/src/redux/protocols/close-ledger-channel/actions.ts
  packages/wallet/src/redux/protocols/close-ledger-channel/reducer.ts
  packages/wallet/src/redux/protocols/close-ledger-channel/states.ts
  packages/wallet/src/redux/protocols/concluding/__tests__/scenarios.ts
  packages/wallet/src/redux/protocols/concluding/actions.ts
  packages/wallet/src/redux/protocols/concluding/reducer.ts
  packages/wallet/src/redux/protocols/concluding/states.ts
  packages/wallet/src/redux/protocols/defunding/reducer.ts
  packages/wallet/src/redux/protocols/ledger-defunding/reducer.ts
  packages/wallet/src/redux/protocols/reducer-helpers.ts
  packages/wallet/src/redux/reducer.ts
  packages/wallet/src/redux/sagas/messaging/__tests__/message-handler.test.ts
  packages/wallet/src/redux/sagas/messaging/__tests__/message-sender.test.ts
  packages/wallet/src/redux/sagas/messaging/message-handler.ts
  packages/wallet/src/redux/sagas/messaging/message-sender.ts
  packages/wallet/src/redux/sagas/messaging/outgoing-api-actions.ts
  packages/wallet/src/redux/sagas/saga-manager.ts
Labels: package: wallet

#773 [rps] Remove dependence on web3
  packages/rps/package.json
  packages/rps/src/__stories__/index.tsx
  packages/rps/src/components/ConfirmGamePage.tsx
  packages/rps/src/components/CreatingOpenGameModal.tsx
  packages/rps/src/components/GameBar.tsx
  packages/rps/src/components/MetamaskErrorPage.tsx
  packages/rps/src/components/OpenGameCard.tsx
  packages/rps/src/components/WaitingRoomPage.tsx
  packages/rps/src/core/results.ts
  packages/rps/src/core/rps-commitment-helper.ts
  packages/rps/src/core/rps-commitment.ts
  packages/rps/src/core/test-scenarios.ts
  packages/rps/src/redux/metamask/actions.ts
  packages/rps/src/redux/metamask/saga.ts
  packages/rps/types/globals.d.ts
Labels: package: rps

#777 [rps] Resintate tests
  packages/channel-client/src/channel-client.ts
  packages/channel-client/src/index.ts
  packages/rps/src/redux/auto-opponent/__tests__/auto-opponent.test.ts
  packages/rps/src/redux/auto-opponent/auto-opponent.ts
  packages/rps/src/redux/game/__tests__/player-a.test.ts
  packages/rps/src/redux/game/__tests__/player-b.test.ts
  packages/rps/src/redux/store.ts
  packages/rps/src/utils/__tests__/rps-channel-client.test.ts
  packages/rps/src/utils/rps-channel-client.ts
Labels: package: rps

#774 [rps][wallet] Mirror vscode settings for packages migrated to eslint
  .vscode/settings.json
Labels: package: rps, package: wallet

#784 [rps] Improve user login / metamask enable experience
  packages/rps/src/gateways/firebase.ts
  packages/rps/src/redux/login/actions.ts
  packages/rps/src/redux/login/saga.ts
  packages/rps/src/redux/metamask/actions.ts
  packages/rps/src/redux/metamask/reducer.ts
  packages/rps/src/redux/metamask/saga.ts
Labels: package: rps

#775 Hub: enable @typescript-eslint/no-unused-vars lint rule
  packages/hub/.eslintrc.js
  packages/hub/src/hub/handlers/handle-new-process-action.ts
  packages/hub/src/wallet/services/__test__/depositManager.test.ts
Labels: package: hub

#787 [rps] Fix typo preventing my name from rendering
  packages/rps/src/containers/GameBarContainer.tsx
Labels: package: rps

#791 Hub: cleanups for staging environment
  packages/hub/.env
  packages/hub/.env.development
  packages/hub/.env.staging
  packages/hub/.env.test
  packages/hub/Procfile
  packages/hub/package.json
  packages/hub/src/communication/index.ts
  packages/hub/src/hub/handlers/handle-ongoing-process-action.ts
  packages/hub/src/wallet/db/queries/walletProcess.ts
  packages/hub/src/wallet/utilities/blockchain.ts
Labels: package: hub

#785 [rps] Fix rootSaga to allow auto opponent to work
  packages/rps/src/redux/store.ts
Labels: package: rps
