Repository statechannels/statechannels, pull requests merged in 2019-10, with the labels that each got.

#139 Consolidate all tslint configuration files into one
  .editorconfig
  .prettierrc.js
  packages/devtools/.gitignore
  packages/embedded-wallet/.prettierrc
  packages/embedded-wallet/.prettierrc.js
  packages/embedded-wallet/package.json
  packages/embedded-wallet/tslint.json
  packages/jest-gas-reporter/.prettierrc.js
  packages/jest-gas-reporter/package.json
  packages/jest-gas-reporter/src/index.ts
  packages/jest-gas-reporter/tslint.json
  packages/nitro-protocol/.prettierrc.js
  packages/nitro-protocol/package.json
  packages/nitro-protocol/tslint.json
  packages/wallet/.eslintrc.json
  packages/wallet/.prettierrc.js
  packages/wallet/package.json
  packages/wallet/src/redux/protocols/dispute/responder/__tests__/reducer.test.ts
  packages/wallet/src/redux/protocols/dispute/responder/reducer.ts
  packages/wallet/tslint.json
  packages/web3torrent/.prettierrc
  packages/web3torrent/.prettierrc.js
  packages/web3torrent/tslint.json
  tslint.json
Labels: monorepo

#151 [embedded-wallet] Adds README
  package.json
  packages/embedded-wallet/README.md
Labels: documentation, package: embedded-wallet

#158 [embedded-wallet] Implements onboarding flow
  packages/embedded-wallet/external-app/index.html
  packages/embedded-wallet/src/app/App.tsx
  packages/embedded-wallet/src/dialogs/budget-allocation/BudgetAllocation.tsx
  packages/embedded-wallet/src/dialogs/connect-to-hub/ConnectToHub.tsx
  packages/embedded-wallet/src/dialogs/no-hub/NoHub.tsx
  packages/embedded-wallet/src/flow-router/FlowRouter.tsx
  packages/embedded-wallet/src/flows/index.ts
  packages/embedded-wallet/src/flows/onboarding/Onboarding.tsx
Labels: frontend, package: embedded-wallet

#87 [Web3Torrent] [frontend] initial download flow
  packages/web3torrent/public/assets/jumbotron-upload.png
  packages/web3torrent/src/App.scss
  packages/web3torrent/src/App.tsx
  packages/web3torrent/src/components/form/form-button/FormButton.test.tsx
  packages/web3torrent/src/components/form/form-button/FormButton.tsx
  packages/web3torrent/src/components/form/form-input/FormInput.tsx
  packages/web3torrent/src/components/form/index.ts
  packages/web3torrent/src/components/form/spinner/Spinner.tsx
  packages/web3torrent/src/components/form/types.ts
  packages/web3torrent/src/components/layout/index.ts
  packages/web3torrent/src/components/layout/layout-footer/LayoutFooter.tsx
  packages/web3torrent/src/components/layout/layout-header/LayoutHeader.scss
  packages/web3torrent/src/components/layout/layout-header/LayoutHeader.test.tsx
  packages/web3torrent/src/components/layout/layout-header/LayoutHeader.tsx
  packages/web3torrent/src/components/share-list/ShareList.tsx
  packages/web3torrent/src/components/share-list/share-file/ShareFile.tsx
  packages/web3torrent/src/components/torrent-info/TorrentInfo.scss
  packages/web3torrent/src/components/torrent-info/TorrentInfo.tsx
  packages/web3torrent/src/components/torrent-info/progress-bar/ProgressBar.scss
  packages/web3torrent/src/components/torrent-info/progress-bar/ProgressBar.tsx
  packages/web3torrent/src/index.tsx
  packages/web3torrent/src/library/paid-streaming-extension.ts
  packages/web3torrent/src/library/pse-middleware.ts
  packages/web3torrent/src/library/types.ts
  packages/web3torrent/src/library/web3torrent-lib.ts
  packages/web3torrent/src/pages/download/Download.scss
  packages/web3torrent/src/pages/download/Download.tsx
  packages/web3torrent/src/pages/upload/Upload.scss
  packages/web3torrent/src/pages/upload/Upload.tsx
  packages/web3torrent/src/pages/welcome/Welcome.scss
  packages/web3torrent/src/pages/welcome/Welcome.tsx
  packages/web3torrent/src/routes.ts
  packages/web3torrent/src/styles/_variables.scss
  packages/web3torrent/src/types.ts
  packages/web3torrent/tslint.json
Labels: frontend, package: web3torrent

#159 Apply yarn lint:write to jest-gas-reporter
  packages/jest-gas-reporter/.prettierrc.js
  packages/jest-gas-reporter/src/index.ts
Labels: package: jest-gas-reporter

#170 [embedded-wallet] Support Request/Response call style
  packages/embedded-wallet/.env
  packages/embedded-wallet/external-app/index.html
  packages/embedded-wallet/public/wallet.js
  packages/embedded-wallet/src/dialogs/connect-to-hub/ConnectToHub.tsx
  packages/embedded-wallet/src/message-dispatchers/allocate/allocate.ts
  packages/embedded-wallet/src/message-dispatchers/close-wallet/close-wallet.ts
  packages/embedded-wallet/src/message-dispatchers/index.ts
Labels: frontend, package: embedded-wallet

#172 [Web3torrent] [Embedded Wallet] integration
  package.json
  packages/embedded-wallet/public/wallet.js
  packages/web3torrent/public/index.html
  packages/web3torrent/src/pages/download/Download.tsx
  packages/web3torrent/src/types.ts
Labels: enhancement, frontend, package: embedded-wallet, package: web3torrent

#171 [embedded-wallet] Updates README with new call format
  packages/embedded-wallet/README.md
Labels: documentation, package: embedded-wallet

#196 Replace External Address with External Destination
  packages/nitro-protocol/contracts/AssetHolder.sol
  packages/nitro-protocol/contracts/ERC20AssetHolder.sol
  packages/nitro-protocol/contracts/ETHAssetHolder.sol
  packages/nitro-protocol/contracts/Outcome.sol
  packages/nitro-protocol/contracts/interfaces/IAssetHolder.sol
  packages/nitro-protocol/contracts/test/TESTAssetHolder.sol
  packages/nitro-protocol/docs/adjudicator/state-format.md
  packages/nitro-protocol/docs/asset-holder/claim.md
  packages/nitro-protocol/docs/asset-holder/deposit.md
  packages/nitro-protocol/docs/asset-holder/outcomes.md
  packages/nitro-protocol/docs/asset-holder/set-outcome.md
  packages/nitro-protocol/docs/asset-holder/transfer.md
  packages/nitro-protocol/test/contracts/AssetHolder/claimAll.test.ts
  packages/nitro-protocol/test/contracts/AssetHolder/isExternalDestination.test.ts
  packages/nitro-protocol/test/contracts/AssetHolder/transferAll.test.ts
  packages/nitro-protocol/test/contracts/examples/SingleAssetPayments/validTransition.test.ts
  packages/nitro-protocol/test/test-helpers.ts
Labels: package: nitro-protocol

#192 Change padding of external addresses in AssetHolder to left-pad
  packages/nitro-protocol/contracts/AssetHolder.sol
  packages/nitro-protocol/contracts/ERC20AssetHolder.sol
  packages/nitro-protocol/contracts/ETHAssetHolder.sol
  packages/nitro-protocol/contracts/Outcome.sol
  packages/nitro-protocol/contracts/interfaces/IAssetHolder.sol
  packages/nitro-protocol/contracts/test/TESTAssetHolder.sol
  packages/nitro-protocol/docs/adjudicator/state-format.md
  packages/nitro-protocol/docs/asset-holder/claim.md
  packages/nitro-protocol/docs/asset-holder/deposit.md
  packages/nitro-protocol/docs/asset-holder/outcomes.md
  packages/nitro-protocol/docs/asset-holder/set-outcome.md
  packages/nitro-protocol/docs/asset-holder/transfer.md
  packages/nitro-protocol/test/contracts/AssetHolder/claimAll.test.ts
  packages/nitro-protocol/test/contracts/AssetHolder/isExternalDestination.test.ts
  packages/nitro-protocol/test/contracts/AssetHolder/transferAll.test.ts
  packages/nitro-protocol/test/contracts/examples/SingleAssetPayments/validTransition.test.ts
  packages/nitro-protocol/test/test-helpers.ts
  packages/wallet/src/contract-tests/transactions.test.ts
  packages/wallet/src/utils/transaction-generator.ts
Labels: package: nitro-protocol, package: wallet

#195 [Web3Torrent] Initial Library Integration
  packages/web3torrent/package.json
  packages/web3torrent/src/App.tsx
  packages/web3torrent/src/clients/web3torrent-client.ts
  packages/web3torrent/src/components/form/form-input/FormInput.tsx
  packages/web3torrent/src/components/layout/layout-header/LayoutHeader.tsx
  packages/web3torrent/src/components/share-list/ShareList.tsx
  packages/web3torrent/src/components/share-list/share-file/ShareFile.tsx
  packages/web3torrent/src/components/torrent-info/TorrentInfo.scss
  packages/web3torrent/src/components/torrent-info/TorrentInfo.tsx
  packages/web3torrent/src/components/torrent-info/download-info/DownloadInfo.tsx
  packages/web3torrent/src/components/torrent-info/download-info/progress-bar/ProgressBar.scss
  packages/web3torrent/src/components/torrent-info/download-info/progress-bar/ProgressBar.tsx
  packages/web3torrent/src/components/torrent-info/upload-info/UploadInfo.tsx
  packages/web3torrent/src/index.tsx
  packages/web3torrent/src/library/paid-streaming-extension.ts
  packages/web3torrent/src/library/types.ts
  packages/web3torrent/src/pages/download/Download.tsx
  packages/web3torrent/src/pages/upload/Upload.tsx
  packages/web3torrent/src/pages/welcome/Welcome.tsx
  packages/web3torrent/src/routes.ts
  packages/web3torrent/src/types.ts
  packages/web3torrent/src/utils/copy-to-clipboard.ts
  packages/web3torrent/src/utils/useInterval.ts
  yarn.lock
Labels: frontend, package: web3torrent

#201 [embedded-wallet] Adds unit tests to all generic UI components
  packages/embedded-wallet/package.json
  packages/embedded-wallet/src/ui/button/Button.test.tsx
  packages/embedded-wallet/src/ui/button/Button.tsx
  packages/embedded-wallet/src/ui/dialog/Dialog.test.tsx
  packages/embedded-wallet/src/ui/dialog/Dialog.tsx
  packages/embedded-wallet/src/ui/flow-process/FlowProcess.test.tsx
  packages/embedded-wallet/src/ui/flow-process/FlowStep.test.tsx
  packages/embedded-wallet/src/ui/icon/Icon.test.tsx
  packages/embedded-wallet/src/ui/icon/Icon.tsx
  packages/embedded-wallet/src/ui/slider/Slider.test.tsx
  packages/embedded-wallet/src/ui/slider/Slider.tsx
  packages/embedded-wallet/src/ui/spinner/Spinner.test.tsx
  yarn.lock
Labels: package: embedded-wallet, testing

#203 [embedded-wallet] Replaces [] with null on JSX
  packages/embedded-wallet/src/dialogs/budget-allocation/BudgetAllocation.tsx
  packages/embedded-wallet/src/dialogs/no-hub/NoHub.tsx
  packages/embedded-wallet/src/json-rpc-router/JsonRpcRoute.tsx
  packages/embedded-wallet/src/ui/button/Button.tsx
  packages/embedded-wallet/src/ui/dialog/Dialog.tsx
Labels: enhancement, package: embedded-wallet

#204 [embedded-wallet] Adds JsonRpcRouter unit tests
  packages/embedded-wallet/src/json-rpc-router/JsonRpcRouter.test.tsx
Labels: package: embedded-wallet, testing

#205 [embedded-wallet] Adds tests for FlowRouter
  packages/embedded-wallet/src/flow-router/FlowRouter.test.tsx
Labels: package: embedded-wallet, testing

#206 [embedded-wallet] Adds unit tests for message dispatchers
  packages/embedded-wallet/src/message-dispatchers/allocate/allocate.test.ts
  packages/embedded-wallet/src/message-dispatchers/close-wallet/close-wallet.test.ts
Labels: package: embedded-wallet, testing

#198 [Web3Torrent] improve magnetURI generation & parsing
  packages/web3torrent/src/clients/web3torrent-client.ts
  packages/web3torrent/src/components/torrent-info/TorrentInfo.tsx
  packages/web3torrent/src/pages/download/Download.tsx
  packages/web3torrent/src/types.ts
Labels: frontend, package: web3torrent

#208 [embedded-wallet] Added onboarding flow tests
  packages/embedded-wallet/src/dialogs/budget-allocation/BudgetAllocation.tsx
  packages/embedded-wallet/src/dialogs/connect-to-hub/ConnectToHub.tsx
  packages/embedded-wallet/src/dialogs/no-hub/NoHub.tsx
  packages/embedded-wallet/src/flows/onboarding/Onboarding.test.tsx
  packages/embedded-wallet/src/flows/onboarding/Onboarding.tsx
Labels: package: embedded-wallet, testing

#209 [embedded-wallet] Adds tests for Budget Allocation screen
  packages/embedded-wallet/src/dialogs/budget-allocation/BudgetAllocation.test.tsx
  packages/embedded-wallet/src/dialogs/budget-allocation/BudgetAllocation.tsx
Labels: package: embedded-wallet, testing

#210 [embedded-wallet] Adds tests for No Hub screen
  packages/embedded-wallet/src/dialogs/no-hub/NoHub.test.tsx
Labels: package: embedded-wallet, testing

#211 [embedded-wallet] Adds tests for "Connect to Hub" screen
  packages/embedded-wallet/src/dialogs/connect-to-hub/ConnectToHub.test.tsx
  packages/embedded-wallet/src/dialogs/connect-to-hub/ConnectToHub.tsx
Labels: package: embedded-wallet, testing

#214 Remove _recoverSigner() from AssetHolder contract
  packages/nitro-protocol/contracts/AssetHolder.sol
Labels: package: nitro-protocol

#212 [embedded-wallet] Adds yarn script to run coverage analysis
  packages/embedded-wallet/package.json
Labels: package: embedded-wallet, testing

#213 [Web3torrent][Embedded Wallet] Refactor & Improved integration
  packages/web3torrent/src/clients/web3torrent-client.ts
  packages/web3torrent/src/components/torrent-info/TorrentInfo.tsx
  packages/web3torrent/src/components/torrent-info/download-info/DownloadInfo.tsx
  packages/web3torrent/src/constants.ts
  packages/web3torrent/src/library/types.ts
  packages/web3torrent/src/library/web3torrent-lib.ts
  packages/web3torrent/src/pages/download/Download.tsx
  packages/web3torrent/src/pages/upload/Upload.tsx
  packages/web3torrent/src/types.ts
  packages/web3torrent/src/utils/magnet.ts
  packages/web3torrent/src/utils/torrent-status-checker.ts
  packages/web3torrent/tests/client-seeding.test.ts
Labels: package: embedded-wallet, package: web3torrent

#222 [Web3Torrent] Unit Test suite
  packages/web3torrent/package.json
  packages/web3torrent/src/clients/web3torrent-client.ts
  packages/web3torrent/src/components/form/form-button/FormButton.test.tsx
  packages/web3torrent/src/components/layout/layout-header/LayoutHeader.test.tsx
  packages/web3torrent/src/library/basic-functionality.test.ts
  packages/web3torrent/src/library/client-seeding.test.ts
  packages/web3torrent/src/library/testing/setup.js
  packages/web3torrent/src/library/testing/teardown.js
  packages/web3torrent/src/library/testing/test-utils.ts
  packages/web3torrent/src/library/time-based-leeching/leeching-125000.no-test.ts
  packages/web3torrent/src/library/time-based-leeching/leeching-35000.no-test.ts
  packages/web3torrent/src/library/time-based-leeching/leeching-5000.no-test.ts
  packages/web3torrent/src/library/time-based-leeching/leeching-65000.no-test.ts
  packages/web3torrent/tests/time-based-leeching/leeching-5000.test.ts
  packages/web3torrent/tsconfig.json
Labels: package: web3torrent, testing

#224 [embedded-wallet] [web3torrent] Allows Netlify deployments
  packages/embedded-wallet/_redirects
  packages/embedded-wallet/public/wallet.js
  packages/web3torrent/.env
  packages/web3torrent/_redirects
  packages/web3torrent/public/index.html
  packages/web3torrent/src/pages/download/Download.tsx
  packages/web3torrent/src/types.ts
Labels: deployment, package: embedded-wallet, package: web3torrent

#228 [web3torrent] Adds tests for TorrentInfo and MagnetLinkButton
  packages/web3torrent/package.json
  packages/web3torrent/src/components/torrent-info/TorrentInfo.test.tsx
  packages/web3torrent/src/components/torrent-info/TorrentInfo.tsx
  packages/web3torrent/src/components/torrent-info/upload-info/UploadInfo.tsx
  packages/web3torrent/src/library/types.ts
  packages/web3torrent/src/library/web3torrent-lib.ts
  packages/web3torrent/src/utils/test-utils.ts
Labels: package: web3torrent, testing

#230 [web3torrent] Adds DownloadInfo tests
  packages/web3torrent/src/components/torrent-info/download-info/DownloadInfo.test.tsx
  packages/web3torrent/src/components/torrent-info/download-info/DownloadInfo.tsx
  packages/web3torrent/src/utils/torrent-status-checker.ts
Labels: package: web3torrent, testing

#229 [web3torrent] Adds tests for ProgressBar
  packages/web3torrent/src/components/torrent-info/download-info/progress-bar/ProgressBar.test.tsx
Labels: package: web3torrent, testing

#232 [Web3Torrent] Add magnetParser tests
  packages/web3torrent/src/utils/magnet.test.ts
  packages/web3torrent/src/utils/magnet.ts
Labels: package: web3torrent, testing

#231 [Web3torrent] Add Download and Upload Pages tests
  packages/web3torrent/src/clients/embedded-wallet-client.ts
  packages/web3torrent/src/pages/download/Download.test.tsx
  packages/web3torrent/src/pages/download/Download.tsx
  packages/web3torrent/src/pages/upload/Upload.test.tsx
  packages/web3torrent/src/pages/upload/Upload.tsx
Labels: package: web3torrent, testing

#234 [web3torrent] Adds tests for <UploadInfo />
  packages/web3torrent/src/components/torrent-info/upload-info/UploadInfo.test.tsx
  packages/web3torrent/src/components/torrent-info/upload-info/UploadInfo.tsx
Labels: package: web3torrent, testing

#237 [web3torrent] Add tests for EmbeddedWalletClient
  packages/web3torrent/src/clients/embedded-wallet-client.test.ts
  packages/web3torrent/src/clients/embedded-wallet-client.ts
Labels: package: web3torrent, testing

#235 [web3torrent] Adds tests for TorrentStatusChecker
  packages/web3torrent/src/utils/torrent-status-checker.test.ts
  packages/web3torrent/src/utils/torrent-status-checker.ts
Labels: package: web3torrent, testing

#236 [web3torrent] Adds tests for Web3TorrentClient
  packages/web3torrent/src/clients/web3torrent-client.test.ts
Labels: package: web3torrent, testing

#251 [Web3Torrent] TorrentInfoComponent Refactoring - Buttons Improvements
  packages/web3torrent/src/components/torrent-info/TorrentInfo.test.tsx
  packages/web3torrent/src/components/torrent-info/TorrentInfo.tsx
  packages/web3torrent/src/components/torrent-info/download-info/DownloadInfo.test.tsx
  packages/web3torrent/src/components/torrent-info/download-info/DownloadInfo.tsx
  packages/web3torrent/src/components/torrent-info/download-info/progress-bar/ProgressBar.scss
  packages/web3torrent/src/components/torrent-info/download-info/progress-bar/ProgressBar.test.tsx
  packages/web3torrent/src/components/torrent-info/download-info/progress-bar/ProgressBar.tsx
  packages/web3torrent/src/components/torrent-info/download-link/DownloadLink.test.tsx
  packages/web3torrent/src/components/torrent-info/download-link/DownloadLink.tsx
  packages/web3torrent/src/components/torrent-info/magnet-link-button/MagnetLinkButton.test.tsx
  packages/web3torrent/src/components/torrent-info/magnet-link-button/MagnetLinkButton.tsx
  packages/web3torrent/src/components/torrent-info/upload-info/UploadInfo.test.tsx
  packages/web3torrent/src/components/torrent-info/upload-info/UploadInfo.tsx
  packages/web3torrent/src/types.ts
  packages/web3torrent/src/utils/test-utils.ts
  packages/web3torrent/src/utils/torrent-status-checker.test.ts
  packages/web3torrent/src/utils/torrent-status-checker.ts
Labels: frontend, package: web3torrent

#257 [web3torrent] Implements Spinner on "Start Download" button
  packages/web3torrent/src/components/form/form-button/FormButton.tsx
  packages/web3torrent/src/components/form/spinner/Spinner.scss
  packages/web3torrent/src/components/form/spinner/Spinner.tsx
  packages/web3torrent/src/pages/download/Download.test.tsx
  packages/web3torrent/src/pages/download/Download.tsx
Labels: enhancement, package: web3torrent

#255 [embedded-wallet] Adds asset preloader
  packages/embedded-wallet/public/wallet.js
Labels: enhancement, package: embedded-wallet

#275 [web3torrent] Removes references to estimated costs
  packages/web3torrent/src/components/torrent-info/TorrentInfo.test.tsx
  packages/web3torrent/src/components/torrent-info/TorrentInfo.tsx
Labels: package: web3torrent

#274 [web3torrent] Changes the app title
  packages/web3torrent/public/index.html
Labels: enhancement, package: web3torrent

#278 [channel-provider] Creates first version of the package
  packages/channel-provider/.gitignore
  packages/channel-provider/.prettierrc.js
  packages/channel-provider/package.json
  packages/channel-provider/src/channel-provider.ts
  packages/channel-provider/src/index.ts
  packages/channel-provider/tests/channel-provider.test.ts
  packages/channel-provider/tsconfig.json
  packages/channel-provider/tslint.json
  packages/channel-provider/webpack.config.js
  yarn.lock
Labels: package: channel-provider

#250 [embedded-wallet] Conform to EIP 1193
  packages/embedded-wallet/README.md
  packages/embedded-wallet/external-app/index.html
  packages/embedded-wallet/public/wallet.js
  packages/web3torrent/src/clients/embedded-wallet-client.test.ts
  packages/web3torrent/src/clients/embedded-wallet-client.ts
  packages/web3torrent/src/types.ts
Labels: enhancement, package: embedded-wallet, package: web3torrent

#281 [Web3Torrent] Routing improvements
  packages/web3torrent/src/App.tsx
  packages/web3torrent/src/clients/web3torrent-client.ts
  packages/web3torrent/src/components/share-list/ShareList.test.tsx
  packages/web3torrent/src/components/share-list/ShareList.tsx
  packages/web3torrent/src/components/torrent-info/TorrentInfo.tsx
  packages/web3torrent/src/components/torrent-info/magnet-link-button/MagnetLinkButton.tsx
  packages/web3torrent/src/pages/file/File.scss
  packages/web3torrent/src/pages/file/File.test.tsx
  packages/web3torrent/src/pages/file/File.tsx
  packages/web3torrent/src/pages/upload/Upload.test.tsx
  packages/web3torrent/src/pages/upload/Upload.tsx
  packages/web3torrent/src/routes.ts
  packages/web3torrent/src/types.ts
  packages/web3torrent/src/utils/magnet.test.ts
  packages/web3torrent/src/utils/magnet.ts
  packages/web3torrent/src/utils/torrent-status-checker.test.ts
  packages/web3torrent/src/utils/torrent-status-checker.ts
  packages/web3torrent/src/utils/useInterval.ts
Labels: enhancement, frontend, package: web3torrent

#285 [embedded-wallet] [web3torrent] Use @statechannels/channel-provider
  packages/embedded-wallet/package.json
  packages/embedded-wallet/public/wallet.js
  packages/web3torrent/package.json
  packages/web3torrent/public/index.html
  packages/web3torrent/src/index.tsx
  yarn.lock
Labels: enhancement, package: embedded-wallet, package: web3torrent

#282 [channel-provider] Rewrites the wallet loader in TypeScript
  packages/channel-provider/README.md
  packages/channel-provider/package.json
  packages/channel-provider/src/channel-provider.ts
  packages/channel-provider/src/index.ts
  packages/channel-provider/src/messaging-service.ts
  packages/channel-provider/src/types.ts
  packages/channel-provider/src/ui-service.ts
  packages/channel-provider/tests/channel-provider.test.ts
  packages/channel-provider/tests/messaging-service.test.ts
  packages/channel-provider/tests/ui-service.test.ts
  packages/channel-provider/webpack.config.js
  packages/embedded-wallet/README.md
Labels: enhancement, package: channel-provider, testing

#292 [Web3Torrent] Small UI fixes
  packages/web3torrent/public/assets/favicon.png
  packages/web3torrent/public/assets/jumbotron-upload.png
  packages/web3torrent/public/assets/jumbotron.jpeg
  packages/web3torrent/public/assets/jumbotron.svg
  packages/web3torrent/public/assets/logo.jpeg
  packages/web3torrent/public/assets/logo.svg
  packages/web3torrent/public/assets/share-icon.svg
  packages/web3torrent/public/index.html
  packages/web3torrent/src/App.scss
  packages/web3torrent/src/components/form/form-button/FormButton.scss
  packages/web3torrent/src/components/layout/layout-footer/LayoutFooter.scss
  packages/web3torrent/src/components/layout/layout-footer/LayoutFooter.tsx
  packages/web3torrent/src/components/layout/layout-header/LayoutHeader.scss
  packages/web3torrent/src/components/torrent-info/TorrentInfo.scss
  packages/web3torrent/src/components/torrent-info/magnet-link-button/MagnetLinkButton.tsx
  packages/web3torrent/src/pages/upload/Upload.scss
  packages/web3torrent/src/pages/upload/Upload.tsx
  packages/web3torrent/src/pages/welcome/Welcome.scss
  packages/web3torrent/src/pages/welcome/Welcome.tsx
  packages/web3torrent/src/routes.ts
Labels: enhancement, frontend, package: web3torrent

#290 [channel-provider] Fixes bad CSS selectors
  packages/channel-provider/package.json
  packages/channel-provider/src/ui-service.ts
  packages/channel-provider/tests/ui-service.test.ts
Labels: bug, package: channel-provider

#287 [embedded-wallet] Implements simplified Budget Allocation view
  packages/embedded-wallet/src/dialogs/budget-allocation/BudgetAllocation.test.tsx
  packages/embedded-wallet/src/dialogs/budget-allocation/BudgetAllocation.tsx
  packages/embedded-wallet/src/ui/chevron/Chevron.module.css
  packages/embedded-wallet/src/ui/chevron/Chevron.test.tsx
  packages/embedded-wallet/src/ui/chevron/Chevron.tsx
  packages/embedded-wallet/src/ui/expandable/Expandable.module.css
  packages/embedded-wallet/src/ui/expandable/Expandable.test.tsx
  packages/embedded-wallet/src/ui/expandable/Expandable.tsx
  packages/embedded-wallet/src/ui/index.ts
Labels: enhancement, package: embedded-wallet

#307 [embedded-wallet] [web3torrent] Use channel-provider@0.0.3
  packages/channel-provider/package.json
  packages/channel-provider/tsconfig.json
  packages/embedded-wallet/package.json
  packages/web3torrent/package.json
  yarn.lock
Labels: bug, package: channel-provider, package: embedded-wallet, package: web3torrent

#294 [embedded-wallet] Shows allocated amount of ETH in "Allow" button for allocation screen
  packages/embedded-wallet/src/dialogs/budget-allocation/BudgetAllocation.test.tsx
  packages/embedded-wallet/src/dialogs/budget-allocation/BudgetAllocation.tsx
Labels: enhancement, package: embedded-wallet

#317 [embedded-wallet] Sends JsonRpcError message when rejecting allocation
  packages/channel-provider/src/types.ts
  packages/embedded-wallet/src/dialogs/budget-allocation/BudgetAllocation.test.tsx
  packages/embedded-wallet/src/dialogs/budget-allocation/BudgetAllocation.tsx
  packages/embedded-wallet/src/dialogs/onboarding-finished/OnboardingFinished.tsx
  packages/embedded-wallet/src/flows/onboarding/Onboarding.test.tsx
  packages/embedded-wallet/src/json-rpc-router/JsonRpcRoute.tsx
  packages/embedded-wallet/src/json-rpc-router/JsonRpcRouter.tsx
  packages/embedded-wallet/src/message-dispatchers/allocate/allocate.test.ts
  packages/embedded-wallet/src/message-dispatchers/allocate/allocate.ts
  packages/embedded-wallet/src/test-utils/mock-flow-context.ts
  packages/embedded-wallet/src/test-utils/simulate-message.ts
Labels: enhancement, package: embedded-wallet

#295 [Wallet] Add SignedStates to CommitmentsReceived
  packages/engine/src/communication/actions.ts
  packages/engine/src/communication/index.ts
  packages/engine/src/redux/actions.ts
  packages/engine/src/redux/protocols/direct-funding/actions.ts
  packages/engine/src/redux/protocols/existing-ledger-funding/actions.ts
  packages/engine/src/redux/protocols/ledger-top-up/actions.ts
  packages/engine/src/redux/sagas/message-listener.ts
Labels: package: wallet

#318 [Wallet] Store SignedStates in the channel store
  packages/engine/src/communication/actions.ts
  packages/engine/src/constants.ts
  packages/engine/src/domain/commitments/__tests__/index.ts
  packages/engine/src/domain/commitments/index.ts
  packages/engine/src/redux/__tests__/helpers.ts
  packages/engine/src/redux/__tests__/selectors.test.ts
  packages/engine/src/redux/adjudicator-state/__tests__/reducer.test.ts
  packages/engine/src/redux/channel-store/channel-state/__tests__/index.ts
  packages/engine/src/redux/channel-store/channel-state/states.ts
  packages/engine/src/redux/channel-store/channel-state/valid-transition.ts
  packages/engine/src/redux/channel-store/reducer.ts
  packages/engine/src/redux/protocols/advance-channel/reducer.ts
  packages/engine/src/redux/protocols/application/__tests__/reducer.test.ts
  packages/engine/src/redux/protocols/application/reducer.ts
  packages/engine/src/redux/protocols/consensus-update/reducer.ts
  packages/engine/src/redux/protocols/dispute/challenger/reducer.ts
  packages/engine/src/redux/protocols/dispute/responder/__tests__/reducer.test.ts
  packages/engine/src/redux/protocols/dispute/responder/__tests__/scenarios.ts
  packages/engine/src/redux/protocols/dispute/responder/reducer.ts
  packages/engine/src/redux/protocols/reducer-helpers.ts
  packages/engine/src/redux/protocols/withdrawing/__tests__/scenarios.ts
  packages/engine/src/redux/protocols/withdrawing/reducer.ts
  packages/engine/src/redux/sagas/message-listener.ts
  packages/engine/src/redux/selectors.ts
  packages/engine/src/redux/state.ts
  packages/engine/src/utils/nitro-converter.ts
Labels: package: wallet
