Repository statechannels/statechannels, pull requests merged in 2020-07, with the labels that each got.

#2278 [nitro-docs] Index redirects to docs entry
  packages/nitro-protocol/website/pages/en/homeSplash.js
  packages/nitro-protocol/website/pages/en/index.js
Labels: documentation, package: nitro-protocol

#2296 [channel-client] Remove participants from UpdateChannelParams
  packages/channel-client/src/channel-client.ts
  packages/channel-client/src/types.ts
  packages/channel-client/tests/channel-client.test.ts
  packages/channel-client/tests/fake-channel-client.test.ts
  packages/channel-client/tests/fakes/fake-channel-provider.ts
  packages/client-api-schema/src/generated-schema.json
  packages/client-api-schema/src/methods/UpdateChannel.ts
  packages/rps/src/utils/__tests__/rps-channel-client.test.ts
  packages/rps/src/utils/rps-channel-client.ts
  packages/tic-tac-toe/app/services/ttt-channel-client.ts
  packages/web3torrent/src/clients/payment-channel-client.ts
  packages/xstate-wallet/src/integration-tests/helpers.ts
Labels: package: channel-client

#2316 [docs] Improve clarity around storage of states by wallets.
  packages/nitro-protocol/docs/wallet-dev-tutorial/execute-state-transitions.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/wallet-dev-tutorial/execute-state-transitions.md
Labels: package: nitro-protocol

#2306 [channel-client] Clean up API and types
  package.json
  packages/channel-client/src/channel-client.ts
  packages/channel-client/src/types.ts
  packages/channel-client/tests/fakes/fake-channel-provider.ts
  packages/channel-provider/src/channel-provider.ts
  packages/channel-provider/src/types.ts
  packages/client-api-schema/src/generated-schema.json
  packages/client-api-schema/src/methods/CloseAndWithdraw.ts
  packages/client-api-schema/src/methods/GetBudget.ts
  packages/client-api-schema/src/methods/GetWalletInformation.ts
  packages/nitro-protocol/package.json
  packages/wallet-core/src/config.ts
  packages/wallet-core/src/types.ts
  packages/xstate-wallet/src/config.ts
  packages/xstate-wallet/src/integration-tests/helpers.ts
  packages/xstate-wallet/src/messaging.ts
Labels: package: channel-client

#2346 [server-wallet] clarify how to run unit tests locally
  packages/server-wallet/readme.md
Labels: server-wallet

#2343 [docs] Insert a "products" diagram
  packages/nitro-protocol/docs/products.md
  packages/nitro-protocol/website/sidebars.json
  packages/nitro-protocol/website/siteConfig.js
Labels: documentation

#2351 Fix broken link
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/dapp-devs/quick-start.md
Labels: documentation

#2347 [docs] Add a sequence diagram with api calls, and recommended app patterns
  packages/nitro-protocol/docs/app-devs/make-api-calls.md
  packages/nitro-protocol/docs/app-devs/quick-start-contracts.md
  packages/nitro-protocol/docs/app-devs/recommended-patterns.md
  packages/nitro-protocol/website/sidebars.json
  packages/nitro-protocol/website/siteConfig.js
Labels: documentation

#2356 [docs] Add paragraph about App <> Wallet security
  packages/nitro-protocol/docs/app-devs/quick-start-dapp.md
Labels: documentation

#2361 [monorepo, wallet-core, nitro-protocol, xstate-wallet] Loosen node version requirement
  package.json
  packages/benchmarking/package.json
  packages/nitro-protocol/package.json
  packages/server-wallet/package.json
  packages/wallet-core/package.json
  packages/xstate-wallet/package.json
Labels: monorepo, package: nitro-protocol, package: wallet-core, package: xstate-wallet

#2362 [docs] Pin tutorial to nitro-protocol v0.1.6.
  packages/nitro-protocol/docs/protocol-docs/tutorial.md
  packages/nitro-protocol/docs/protocol-tutorial/deposit-assets.md
  packages/nitro-protocol/docs/protocol-tutorial/execute-state-transitions.md
  packages/nitro-protocol/docs/protocol-tutorial/finalize-a-channel-sad.md
Labels: documentation
