Repository statechannels/statechannels, pull requests merged in 2020-02, with the labels that each got.

#974 [xsate-wallet] Add screen for confirm-create-channel workflow
  packages/xstate-wallet/.storybook/main.js
  packages/xstate-wallet/package.json
  packages/xstate-wallet/src/ui/application-workflow.tsx
  packages/xstate-wallet/src/ui/confirm-create-channel-workflow.tsx
  packages/xstate-wallet/src/ui/stories/application-workflow.stories.tsx
  packages/xstate-wallet/src/ui/stories/channel-id.stories.tsx
  packages/xstate-wallet/src/ui/stories/confirm-create-channel-workflow.stories.tsx
  packages/xstate-wallet/src/ui/stories/helpers.tsx
  packages/xstate-wallet/src/ui/wallet.tsx
  packages/xstate-wallet/src/workflows/application.ts
  packages/xstate-wallet/src/workflows/confirm-create-channel.ts
  packages/xstate-wallet/stories/index.stories.tsx
Labels: xstate-wallet

#991 [wallet,rps] Do not call ethereum.enable() from rps
  packages/channel-client/src/channel-client.ts
  packages/channel-client/src/types.ts
  packages/channel-provider/src/types.ts
  packages/client-api-schema/schema/get-ethereum-selected-address.json
  packages/client-api-schema/schema/request.json
  packages/client-api-schema/types/index.d.ts
  packages/rps/.env
  packages/rps/src/__stories__/index.tsx
  packages/rps/src/containers/GameContainer.tsx
  packages/rps/src/containers/SiteContainer.tsx
  packages/rps/src/containers/__tests__/GameContainer.test.tsx
  packages/rps/src/redux/game/saga.ts
  packages/rps/src/redux/message-service/firebase-inbox-listener.ts
  packages/rps/src/redux/message-service/message-queued-listener.ts
  packages/rps/src/redux/metamask/actions.ts
  packages/rps/src/redux/metamask/reducer.ts
  packages/rps/src/redux/metamask/saga.ts
  packages/rps/src/redux/metamask/state.ts
  packages/rps/src/redux/open-games/saga.ts
  packages/rps/src/redux/store.ts
  packages/rps/src/utils/__tests__/rps-channel-client.test.ts
  packages/rps/src/utils/rps-channel-client.ts
  packages/wallet/src/json-rpc-validation/validator.ts
  packages/wallet/src/redux/sagas/messaging/__tests__/message-handler.test.ts
  packages/wallet/src/redux/sagas/messaging/message-handler.ts
  packages/wallet/src/redux/sagas/messaging/message-sender.ts
  packages/wallet/src/redux/sagas/messaging/outgoing-api-actions.ts
Labels: package: rps, package: wallet

#1020 [xstate-wallet] Add test for subscribeDepositEvent
  packages/nitro-protocol/src/index.ts
  packages/xstate-wallet/.env
  packages/xstate-wallet/config/env.js
  packages/xstate-wallet/config/jest/jest.config.js
  packages/xstate-wallet/config/jest/jest.with-chain.config.js
  packages/xstate-wallet/jest/contract-test-setup.ts
  packages/xstate-wallet/jest/contract-test-teardown.ts
  packages/xstate-wallet/jest/test-setup.ts
  packages/xstate-wallet/package.json
  packages/xstate-wallet/src/chain.ts
  packages/xstate-wallet/src/constants.ts
  packages/xstate-wallet/src/tests-with-chain/chain.test.ts
  packages/xstate-wallet/src/utils/contract-utils.ts
  yarn.lock
Labels: xstate-wallet

#1029 [web3torrent] fix storybook
  packages/web3torrent/tsconfig.json
Labels: package: web3torrent

#448 [Web3Torrent] POC of buffer-based payment system
  packages/web3torrent/src/clients/web3torrent-client.ts
  packages/web3torrent/src/components/torrent-info/upload-info/UploadInfo.stories.tsx
  packages/web3torrent/src/library/paid-streaming-extension.ts
  packages/web3torrent/src/library/types.ts
  packages/web3torrent/src/library/web3torrent-lib.ts
  packages/web3torrent/src/utils/test-utils.ts
Labels: package: web3torrent

#1051 RPS: Decrease default round buy-in from 0.1 eth to 0.01 eth
  packages/app-wallet-interface/package.json
  packages/rps/package.json
  packages/rps/src/components/CreatingOpenGameModal.tsx
Labels: package: rps

#1056 CircleCI environment variables
  .circleci/config.yml
Labels: monorepo

#1067 Duplicate assignChannelId action
  packages/xstate-wallet/src/workflows/application.ts
Labels: xstate-wallet
