Repository statechannels/statechannels, pull requests merged in 2020-04, with the labels that each got.

#1337 Strengthen Request validation
  packages/client-api-schema/src/__tests__/good_sample_requests.ts
  packages/client-api-schema/src/generated-schema.json
  packages/client-api-schema/src/parse-request.ts
  packages/client-api-schema/src/types.ts
  packages/web3torrent/src/clients/payment-channel-client.ts
  packages/web3torrent/src/library/web3torrent-lib.ts
  packages/wire-format/src/generated-schema.json
  packages/wire-format/src/types.ts
  packages/xstate-wallet/src/constants.ts
  packages/xstate-wallet/src/integration-tests/helpers.ts
  packages/xstate-wallet/src/workflows/conclude-channel.ts
Labels: High Priority

#1342 [xstate-wallet] Improve outcomesEqual utility function.
  packages/xstate-wallet/src/store/state-utils.ts
  packages/xstate-wallet/src/store/tests/outcomes-equal.test.ts
  packages/xstate-wallet/src/workflows/conclude-channel.ts
Labels: package: xstate-wallet

#1346 [web3torrent] unit tests
  packages/web3torrent/.env.development
  packages/web3torrent/.env.test
  packages/web3torrent/.vscode/launch.json
  packages/web3torrent/config/jest/jest.config.js
  packages/web3torrent/package.json
  packages/web3torrent/src/App.test.tsx
  packages/web3torrent/src/clients/web3torrent-client.test.ts
  packages/web3torrent/src/components/torrent-info/TorrentInfo.test.tsx
  packages/web3torrent/src/components/torrent-info/download-info/DownloadInfo.test.tsx
  packages/web3torrent/src/components/torrent-info/upload-info/UploadInfo.test.tsx
  packages/web3torrent/src/constants.ts
  packages/web3torrent/src/pages/file/File.test.tsx
  packages/web3torrent/src/pages/upload/Upload.test.tsx
  packages/web3torrent/src/utils/torrent-status-checker.test.ts
  packages/web3torrent/tsconfig.json
  yarn.lock
Labels: package: web3torrent

#1307 Fix scary bug - Fix overpaying for last piece - Event Handling improvements
  packages/web3torrent/src/constants.ts
  packages/web3torrent/src/library/paid-streaming-extension.ts
  packages/web3torrent/src/library/types.ts
  packages/web3torrent/src/library/web3torrent-lib.ts
  packages/web3torrent/src/utils/test-utils.ts
Labels: package: web3torrent

#1351 Set initial leecher balance as torrent size
  packages/web3torrent/src/constants.ts
  packages/web3torrent/src/library/web3torrent-lib.ts
Labels: package: web3torrent

#1355 web3torrent: initialize firebase only when configuration is defined
  packages/web3torrent/.env
  packages/web3torrent/.env.development
  packages/web3torrent/.vscode/launch.json
  packages/web3torrent/src/constants.ts
  packages/web3torrent/src/library/web3torrent-lib.ts
  yarn.lock
Labels: package: web3torrent

#1352 PaymentChannelClient initialization refactor, Loading Upload UI
  packages/web3torrent/.env
  packages/web3torrent/.env.development
  packages/web3torrent/.storybook/config.js
  packages/web3torrent/src/App.test.tsx
  packages/web3torrent/src/App.tsx
  packages/web3torrent/src/clients/payment-channel-client.ts
  packages/web3torrent/src/clients/web3torrent-client.ts
  packages/web3torrent/src/components/torrent-info/channels-list/ChannelsList.tsx
  packages/web3torrent/src/components/torrent-info/upload-info/UploadInfo.stories.tsx
  packages/web3torrent/src/constants.ts
  packages/web3torrent/src/index.tsx
  packages/web3torrent/src/library/web3torrent-lib.ts
  packages/web3torrent/src/pages/file/File.tsx
  packages/web3torrent/src/pages/upload/Upload.scss
  packages/web3torrent/src/pages/upload/Upload.tsx
Labels: package: web3torrent

#1361 web3torrent: remove Welcome.test.tsx
  packages/web3torrent/src/pages/welcome/Welcome.test.tsx
  packages/web3torrent/src/pages/welcome/Welcome.tsx
Labels: package: web3torrent

#1375 [W3T] Fix small torrents payments with big (>1) trust overpayment
  packages/web3torrent/src/library/web3torrent-lib.ts
Labels: package: web3torrent

#1398 simple-hub: add functional error handling
  packages/simple-hub/package.json
  packages/simple-hub/src/blockchain/eth-asset-holder.ts
  packages/simple-hub/src/logger.ts
  packages/simple-hub/src/message/firebase-relay.ts
  packages/simple-hub/src/server.ts
  yarn.lock
Labels: package: simple-hub

#1363 Private Tracker Deployment Preparation, Client Capability Testing improvements
  packages/web3torrent/src/App.test.tsx
  packages/web3torrent/src/App.tsx
  packages/web3torrent/src/components/torrent-info/download-info/DownloadInfo.test.tsx
  packages/web3torrent/src/components/torrent-info/upload-info/UploadInfo.test.tsx
  packages/web3torrent/src/constants.ts
  packages/web3torrent/src/library/types.ts
  packages/web3torrent/src/library/web3torrent-lib.ts
  packages/web3torrent/src/pages/upload/Upload.tsx
  packages/web3torrent/src/pages/welcome/Welcome.tsx
Labels: package: web3torrent

#1405 W3T - Refactor Torrent Status Checker - Fix Storybook
  packages/web3torrent/.storybook/config.js
  packages/web3torrent/.storybook/web3torrent-client.mock.js
  packages/web3torrent/src/clients/payment-channel-client.ts
  packages/web3torrent/src/clients/web3torrent-client.test.ts
  packages/web3torrent/src/components/torrent-info/download-info/DownloadInfo.stories.tsx
  packages/web3torrent/src/components/torrent-info/download-info/DownloadInfo.test.tsx
  packages/web3torrent/src/components/torrent-info/upload-info/UploadInfo.stories.tsx
  packages/web3torrent/src/constants.ts
  packages/web3torrent/src/library/web3torrent-lib.ts
  packages/web3torrent/src/pages/file/File.test.tsx
  packages/web3torrent/src/pages/file/File.tsx
  packages/web3torrent/src/utils/torrent-status-checker.test.ts
  packages/web3torrent/src/utils/torrent-status-checker.ts
Labels: package: web3torrent, testing

#1415 web3torrent: refactor App component as a function component
  packages/web3torrent/.vscode/launch.json
  packages/web3torrent/src/App.tsx
  packages/web3torrent/src/constants.ts
Labels: package: web3torrent

#1417 web3torrent: React cleanups
  packages/web3torrent/src/App.tsx
  packages/web3torrent/src/components/form/form-input/FormInput.scss
  packages/web3torrent/src/components/form/form-input/FormInput.tsx
  packages/web3torrent/src/components/form/index.ts
  packages/web3torrent/src/components/form/types.ts
  packages/web3torrent/src/components/layout/layout-header/LayoutHeader.test.tsx
  packages/web3torrent/src/components/layout/layout-header/LayoutHeader.tsx
  packages/web3torrent/src/components/share-list/ShareList.test.tsx
  packages/web3torrent/src/components/share-list/ShareList.tsx
  packages/web3torrent/src/components/site-budget-table/SiteBudgetTable.tsx
  packages/web3torrent/src/components/torrent-info/channels-list/ChannelsList.tsx
  packages/web3torrent/src/pages/file/File.test.tsx
  packages/web3torrent/src/pages/file/File.tsx
  packages/web3torrent/src/pages/upload/Upload.test.tsx
  packages/web3torrent/src/pages/upload/Upload.tsx
  packages/web3torrent/src/pages/welcome/Welcome.tsx
Labels: package: web3torrent

#1426 [simple-hub]: log message before responding
  packages/simple-hub/src/blockchain/eth-asset-holder.ts
  packages/simple-hub/src/logger.ts
  packages/simple-hub/src/message/firebase-relay.ts
  packages/simple-hub/src/server.ts
  packages/simple-hub/src/wallet/chain-event.ts
  packages/simple-hub/src/wallet/respond-to-message.ts
Labels: package: simple-hub

#1403 simple-hub: hardcode NODE_ENV in start scripts
  packages/simple-hub/package.json
Labels: package: simple-hub

#1428 Fix multi-file Torrents naming
  packages/web3torrent/src/clients/web3torrent-client.test.ts
  packages/web3torrent/src/clients/web3torrent-client.ts
  packages/web3torrent/src/components/torrent-info/download-link/DownloadLink.tsx
  packages/web3torrent/src/library/web3torrent-lib.ts
  packages/web3torrent/src/utils/file-saver.ts
Labels: package: web3torrent

#1427 Improve Torrent URLs
  packages/web3torrent/.eslintrc.js
  packages/web3torrent/package.json
  packages/web3torrent/src/App.tsx
  packages/web3torrent/src/components/share-list/ShareList.test.tsx
  packages/web3torrent/src/components/share-list/share-file/ShareFile.tsx
  packages/web3torrent/src/pages/file/File.tsx
  packages/web3torrent/src/pages/upload/Upload.test.tsx
  packages/web3torrent/src/pages/upload/Upload.tsx
  packages/web3torrent/src/routes.ts
  packages/web3torrent/src/utils/magnet.test.ts
  packages/web3torrent/src/utils/magnet.ts
  packages/web3torrent/src/utils/test-utils.ts
  yarn.lock
Labels: package: web3torrent

#1468 [rps] Fix the app
  .circleci/config.yml
  packages/rps/src/__stories__/index.tsx
  packages/rps/src/components/LoginErrorPage.tsx
  packages/rps/src/constants.ts
  packages/rps/src/containers/SiteContainer.tsx
  packages/rps/src/containers/__tests__/GameContainer.test.tsx
  packages/rps/src/redux/game/__tests__/helpers.ts
  packages/rps/src/redux/game/saga.ts
  packages/rps/src/redux/login/actions.ts
  packages/rps/src/redux/login/reducer.ts
  packages/rps/src/redux/login/saga.ts
  packages/rps/src/redux/message-service/firebase-inbox-listener.ts
  packages/rps/src/redux/message-service/message-queued-listener.ts
  packages/rps/src/redux/message-service/setup-firebase-messaging.ts
  packages/rps/src/redux/store.ts
Labels: package: rps

#1476 fix tracker check, add logs
  packages/web3torrent/src/utils/checkTorrentInTracker.ts
Labels: package: web3torrent

#1436 [web3torrent] add react eslint plugin
  packages/web3torrent/.eslintrc.js
  packages/web3torrent/package.json
  yarn.lock
Labels: package: web3torrent

#1490 W3T torrent check refactor
  packages/web3torrent/src/pages/file/File.tsx
  packages/web3torrent/src/utils/check-torrent-in-tracker.ts
  packages/web3torrent/src/utils/checkTorrentInTracker.ts
Labels: package: web3torrent

#1495 W3T Start-storybook fix
  packages/web3torrent/.storybook/web3torrent-client.mock.js
  packages/web3torrent/src/components/share-list/share-file/ShareFile.stories.tsx
Labels: package: web3torrent, testing

#1521 Add ReplaySubject to ChannelClient, use it on PaymentChannelClient
  packages/channel-client/package.json
  packages/channel-client/src/channel-client.ts
  packages/channel-client/src/types.ts
  packages/channel-client/tests/index.test.ts
  packages/rps/package.json
  packages/rps/src/utils/__tests__/rps-channel-client.test.ts
  packages/web3torrent/package.json
  packages/web3torrent/src/clients/payment-channel-client.ts
  packages/web3torrent/src/pages/file/File.test.tsx
Labels: package: channel-client, package: web3torrent

#1530 [TTT] Create Channel for Game
  packages/tic-tac-toe/app/components/game-card.hbs
  packages/tic-tac-toe/app/components/game-card.ts
  packages/tic-tac-toe/app/controllers/games.ts
  packages/tic-tac-toe/app/controllers/games/index.ts
  packages/tic-tac-toe/app/controllers/games/waiting.ts
  packages/tic-tac-toe/app/helpers/format-ether.ts
  packages/tic-tac-toe/app/models/message.ts
  packages/tic-tac-toe/app/routes/application.ts
  packages/tic-tac-toe/app/routes/games.ts
  packages/tic-tac-toe/app/routes/games/waiting.ts
  packages/tic-tac-toe/app/services/current-game.ts
  packages/tic-tac-toe/app/services/ttt-channel-client.ts
  packages/tic-tac-toe/app/services/user.ts
  packages/tic-tac-toe/app/templates/games.hbs
  packages/tic-tac-toe/app/templates/games/index.hbs
  packages/tic-tac-toe/app/templates/games/waiting.hbs
Labels: package: tic-tac-toe

#1596 Update console logging statements
  packages/xstate-wallet/src/chain.ts
  packages/xstate-wallet/src/channel-wallet.ts
  packages/xstate-wallet/src/store/channel-store-entry.ts
  packages/xstate-wallet/src/store/dexie-backend.ts
  packages/xstate-wallet/src/store/state-utils.ts
  packages/xstate-wallet/src/ui/stories/approve-budget-and-fund-workflow.stories.tsx
  packages/xstate-wallet/src/ui/stories/close-ledger-and-withdraw.stories.tsx
  packages/xstate-wallet/src/ui/stories/confirm-create-channel-workflow.stories.tsx
  packages/xstate-wallet/src/ui/stories/enable-ethereum.stories.tsx
Labels: package: xstate-wallet
