Repository statechannels/statechannels, pull requests merged in 2020-01, with the labels that each got.

#802 [circleci] Add e2e test for RPS with hub
  .circleci/config.yml
  packages/devtools/.env.development
  packages/e2e-tests/package.json
  packages/rps/.env.development
  packages/wallet/.env
  packages/wallet/.env.test
  packages/wallet/config/env.js
  packages/wallet/package.json
  yarn.lock
Labels: do not merge

#810 [wallet] Allow UI to properly reflect strategy set in .env
  packages/wallet/src/redux/protocols/funding-strategy-negotiation/player-a/container.tsx
  packages/wallet/src/redux/protocols/funding-strategy-negotiation/player-b/container.tsx
Labels: package: wallet

#809 [nitro] Fix broken links in website
  packages/nitro-protocol/docs/forcemove-and-nitro/asset-holder.md
  packages/nitro-protocol/docs/forcemove-and-nitro/force-move.md
  packages/nitro-protocol/docs/state-channels/quick-start.md
Labels: documentation, package: nitro-protocol

#813 [nitro] Style docs website to match statechannels website
  packages/nitro-protocol/website/siteConfig.js
  packages/nitro-protocol/website/static/css/custom.css
  packages/nitro-protocol/website/static/img/favicon.ico
Labels: documentation, package: nitro-protocol

#772 [nitro-protocol] Gas savings study
  .gitignore
  packages/nitro-protocol/notes/gas-optimizations.md
  packages/nitro-protocol/notes/gas-savings.png
  packages/nitro-protocol/notes/gas-savings.svg
  packages/nitro-protocol/notes/gas-usage-chart.py
  packages/nitro-protocol/notes/gas.drawio
  packages/nitro-protocol/notes/optimization.png
  packages/nitro-protocol/test/contracts/ETHAssetHolder/deposit.test.ts
  packages/nitro-protocol/test/contracts/ForceMove/forceMove.test.ts
  packages/nitro-protocol/test/contracts/ForceMove/respond.test.ts
  packages/nitro-protocol/test/contracts/NitroAdjudicator/concludePushOutcomeAndTransferAll.test.ts
  packages/nitro-protocol/test/test-helpers.ts
Labels: package: nitro-protocol

#832 Wallet styling tweaks
  packages/channel-provider/src/ui-service.ts
  packages/rps/src/components/ProfilePage.tsx
  packages/wallet/src/containers/wallet.tsx
  packages/wallet/src/redux/protocols/dispute/responder/components/wait-for-approval.tsx
  packages/wallet/src/redux/protocols/shared-components/acknowledge-x.tsx
  packages/wallet/src/redux/protocols/shared-components/acknowledge.tsx
  packages/wallet/src/redux/protocols/shared-components/yes-or-no.tsx
  packages/wallet/src/redux/protocols/withdrawing/components/wait-for-approval.tsx
  packages/wallet/src/styles/wallet.scss
Labels: package: wallet

#831 Hub: update heroku + docker readme
  packages/hub/readme.md
Labels: package: hub

#847 [rps] Overwrite CHAIN_NETWORK_ID in production
  packages/rps/.env.production
Labels: package: rps

#849 [rps] 'Withdraw' button simply 'OK' button
  packages/rps/src/components/InsufficientFunds.tsx
  packages/rps/src/components/Resigned.tsx
Labels: package: rps

#845 [rps] Fix security bug and refactor for clarity
  packages/rps/contracts/RockPaperScissors.sol
  packages/rps/src/contract-tests/rock-paper-scissors.test.ts
Labels: package: rps

#850 [wallet] Get storybook working
  packages/hub/src/wallet/models/outcome.ts
  packages/nitro-protocol/src/index.ts
  packages/wallet/.storybook/webpack.config.js
  packages/wallet/src/redux/asset-holders-state/state.ts
  packages/wallet/src/redux/protocols/existing-ledger-funding/reducer.ts
  packages/wallet/src/redux/protocols/virtual-funding/reducer.ts
  packages/wallet/src/utils/contract-utils.ts
  packages/wallet/src/utils/outcome-utils.ts
  packages/wallet/src/utils/transaction-generator.ts
Labels: package: nitro-protocol, package: wallet

#824 [tic-tac-toe] Initial Tic Tac Toe Contract
  .vscode/settings.json
  TTTMagmoContracts/TicTacToeHelpers.sol
  packages/tic-tac-toe/.editorconfig
  packages/tic-tac-toe/.ember-cli
  packages/tic-tac-toe/.env
  packages/tic-tac-toe/.env.development
  packages/tic-tac-toe/.env.production
  packages/tic-tac-toe/.eslintignore
  packages/tic-tac-toe/.eslintrc.js
  packages/tic-tac-toe/.gitattributes
  packages/tic-tac-toe/.gitignore
  packages/tic-tac-toe/.prettierrc.js
  packages/tic-tac-toe/README.md
  packages/tic-tac-toe/bin/compile.js
  packages/tic-tac-toe/config/env.js
  packages/tic-tac-toe/config/jest/cssTransform.js
  packages/tic-tac-toe/config/jest/fileTransform.js
  packages/tic-tac-toe/config/jest/jest.config.js
  packages/tic-tac-toe/config/jest/jest.contracts.config.js
  packages/tic-tac-toe/config/jest/jest.setup.js
  packages/tic-tac-toe/config/jest/typescriptTransform.js
  packages/tic-tac-toe/config/paths.js
  packages/tic-tac-toe/config/polyfills.js
  packages/tic-tac-toe/config/setupTests.ts
  packages/tic-tac-toe/config/webpack.config.js
  packages/tic-tac-toe/config/webpackDevServer.config.js
  packages/tic-tac-toe/contracts/TicTacToe.sol
  packages/tic-tac-toe/contracts/tests/tic-tac-toe.test.ts
  packages/tic-tac-toe/contracts/tests/types/app-data.ts
  packages/tic-tac-toe/contracts/tests/utils/unreachable.ts
  packages/tic-tac-toe/deployment/deploy.js
  packages/tic-tac-toe/index.ts
  packages/tic-tac-toe/jest/contract-test-setup.ts
  packages/tic-tac-toe/jest/contract-test-teardown.ts
  packages/tic-tac-toe/jsconfig.json
  packages/tic-tac-toe/package.json
  packages/tic-tac-toe/tsconfig.json
  yarn.lock
Labels: package: tic-tac-toe

#869 [ttt] Remove unnecessary folder and tweak CHAIN_NETWORK_ID
  TTTMagmoContracts/TicTacToeHelpers.sol
  packages/tic-tac-toe/.env
Labels: package: tic-tac-toe

#868 [nitro] Fix error in definition of setup phase
  packages/nitro-protocol/contracts/ForceMove.sol
  packages/nitro-protocol/docs/forcemove-and-nitro/force-move.md
  packages/nitro-protocol/test/contracts/ForceMove/respond.test.ts
Labels: package: nitro-protocol

#864 [rps] Allow multiple serial games
  packages/e2e-tests/puppeteer/__tests__/rps.test.ts
  packages/e2e-tests/puppeteer/helpers.ts
  packages/e2e-tests/puppeteer/scripts/rps.ts
  packages/rps/src/redux/auto-opponent/__tests__/auto-opponent.test.ts
  packages/rps/src/redux/game/__tests__/player-a.test.ts
  packages/rps/src/redux/game/__tests__/player-b.test.ts
  packages/rps/src/redux/game/saga.ts
  packages/rps/src/redux/open-games/saga.ts
Labels: package: rps

#882 [nitro] Fix bug in getChallengeRegisteredEvent
  packages/nitro-protocol/src/contract/challenge.ts
Labels: package: nitro-protocol

#888 [nitro] Fix and test forceMove transaction generator
  packages/nitro-protocol/src/contract/transaction-creators/force-move.ts
  packages/nitro-protocol/src/transactions.ts
  packages/nitro-protocol/test/contracts/ForceMove/_validSignatures.test.ts
  packages/nitro-protocol/test/contracts/ForceMove/forceMove.test.ts
Labels: package: nitro-protocol

#924 [nitro] Remove non-module imports
  packages/hub/src/hub/handlers/__test__/handle-ongoing-process-action.test.ts
  packages/hub/src/test/test-data.ts
  packages/hub/src/wallet/models/allocation.ts
  packages/hub/src/wallet/models/outcome.ts
  packages/hub/src/wallet/services/__test__/channelManager.test.ts
  packages/hub/src/wallet/services/__test__/ledgerChannelManager.test.ts
  packages/hub/src/wallet/services/channelManager.ts
  packages/hub/src/wallet/services/ledgerChannelManager.ts
  packages/hub/src/wallet/utilities/blockchain.ts
  packages/hub/src/wallet/utilities/outcome.ts
  packages/nitro-protocol/src/index.ts
  packages/tic-tac-toe/.eslintignore
  packages/wallet-protocols/src/ChannelStoreEntry.ts
  packages/wallet-protocols/src/calculations.ts
  packages/wallet-protocols/src/index.ts
  packages/wallet-protocols/src/protocols/virtual-fund-as-leaf/protocol.ts
  packages/wallet-protocols/src/store.ts
  packages/wallet/src/redux/__tests__/state-helpers.ts
  packages/wallet/src/redux/protocols/consensus-update/reducer.ts
  packages/xstate-wallet/src/chain.ts
Labels: package: nitro-protocol

#923 [wallet] Remove reference to contracts folders
  packages/wallet/config/paths.js
Labels: package: wallet

#937 Hub: add Sentry alerts
  packages/hub/package.json
  packages/hub/src/hub/server.ts
  yarn.lock
Labels: package: hub

#947 [wallet] Wrap wallet in a modal
  packages/channel-provider/src/ui-service.ts
  packages/rps/src/styles/footer.scss
  packages/wallet-protocols/package.json
  packages/wallet/package.json
  packages/wallet/src/containers/wallet.tsx
  packages/wallet/src/styles/_colors.scss
Labels: package: wallet
