Repository statechannels/statechannels, pull requests merged in 2020-06, with the labels that each got.

#2038 Add basic file size limitations
  packages/web3torrent/src/constants.ts
  packages/web3torrent/src/pages/upload/Upload.tsx
Labels: package: web3torrent

#2037 Get Web3Torrent Compiling
  packages/channel-client/src/index.ts
  packages/web3torrent/src/clients/payment-channel-client.ts
Labels: package: web3torrent

#2036 Use Amount from Deposited Event
  packages/xstate-wallet/src/chain.ts
Labels: package: xstate-wallet

#2045 [web3torrent] Don't filter / whitelist env vars
  packages/web3torrent/config/webpack.config.js
Labels: package: web3torrent

#2053 Add a filelock when deploying contracts
  .gitignore
  bin/start-servers.sh
  packages/devtools/package.json
  packages/devtools/src/ganache/deployer-with-cache.ts
  yarn.lock
Labels: monorepo, package: devtools

#2061 [xstate-wallet] refresh page on network change
  packages/xstate-wallet/src/utils/contract-utils.ts
Labels: package: xstate-wallet

#2063 Manually fetch budget after download
  packages/web3torrent/src/hooks/use-budget.ts
  packages/web3torrent/src/pages/file/File.tsx
Labels: package: web3torrent

#2075 Fix production
  .env.production-ropsten
Labels: monorepo, production

#2078 Fix releaseFunds Error
  packages/xstate-wallet/src/store/dexie-backend.ts
  packages/xstate-wallet/src/store/store.ts
  packages/xstate-wallet/src/utils/helpers.ts
Labels: package: xstate-wallet

#2086 Avoid using Infura Provider
  packages/xstate-wallet/src/utils/contract-utils.ts
Labels: package: xstate-wallet

#2083 Adds a basic hub timeout page
  packages/web3torrent/src/logger.ts
  packages/xstate-wallet/src/ui/approve-budget-and-fund-workflow.tsx
Labels: package: xstate-wallet

#2065 [nitro-protocol] Add some more exports and a test for nullApp
  packages/nitro-protocol/src/index.ts
  packages/nitro-protocol/test/contracts/ConsensusApp/nullApp.test.ts
Labels: package: nitro-protocol

#2091 [web3torrent] Improve payment counting
  packages/web3torrent/src/components/domain-budget-table/turnNumToNumPayments.test.ts
  packages/web3torrent/src/components/torrent-info/channels-list/ChannelsList.tsx
Labels: package: web3torrent

#2093 [web3torrent] Override default INITIAL_BUDGET_AMOUNT in env var
  .env.persistent-seeder
  packages/web3torrent/src/constants.ts
Labels: package: web3torrent

#2095 [nitro-protocol] upgrade oz contracts
  .circleci/Dockerfile
  .circleci/config.yml
  packages/nitro-protocol/contracts/Token.sol
  packages/nitro-protocol/deployment/deploy.js
  packages/nitro-protocol/package.json
  packages/tic-tac-toe/package.json
  packages/xstate-wallet/deployment/deploy.js
  yarn.lock
Labels: package: nitro-protocol

#2105 Add simple mobile device check
  packages/web3torrent/package.json
  packages/web3torrent/src/index.tsx
  yarn.lock
Labels: package: web3torrent

#2118 show warning if balance is low
  packages/web3torrent/src/App.tsx
Labels: package: web3torrent

#2121 Add some error messages for running out of budget
  packages/web3torrent/src/pages/file/File.tsx
Labels: package: web3torrent

#2144 [web3torrent] Domain budget tweaks
  packages/web3torrent/src/components/domain-budget/DomainBudget.tsx
  packages/web3torrent/src/utils/calculateWei.ts
  packages/web3torrent/src/utils/prettyPrintWei.test.ts
Labels: package: web3torrent

#2136 Add balance check to Approve Budget and Fund
  packages/web3torrent/src/App.tsx
  packages/xstate-wallet/src/chain.ts
  packages/xstate-wallet/src/ui/approve-budget-and-fund-workflow.tsx
  packages/xstate-wallet/src/workflows/approve-budget-and-fund.ts
  packages/xstate-wallet/src/workflows/tests/approve-budget-and-fund.test.ts
Labels: package: xstate-wallet

#2154 [web3torrent] Remove unneeded braces
  packages/web3torrent/src/library/web3torrent-lib.ts
Labels: package: web3torrent

#2167 Set a fixed gas price
  packages/xstate-wallet/src/chain.ts
Labels: package: xstate-wallet

#2165 [e2e] add SHOW_DEVTOOLS configuration
  .env.virtual-funding
  packages/e2e-tests/puppeteer/constants.ts
  packages/e2e-tests/puppeteer/helpers.ts
Labels: testing

#2139 [web3torrent] Channel list UI
  .env.virtual-funding
  packages/web3torrent/src/clients/payment-channel-client.ts
  packages/web3torrent/src/components/torrent-info/TorrentInfo.tsx
  packages/web3torrent/src/components/torrent-info/channels-list/ChannelsList.tsx
  packages/web3torrent/src/library/web3torrent-lib.ts
Labels: package: web3torrent

#2177 [xstate-wallet] Hopefully fix factory reset
  packages/xstate-wallet/package.json
Labels: package: xstate-wallet

#2197 [web3torrent] use safe unsubscribe in use-budget
  packages/web3torrent/src/hooks/use-budget.ts
Labels: package: web3torrent

#2244 [web3torrent] Add more tracking events
  packages/web3torrent/public/index.html
  packages/web3torrent/src/components/layout/layout-header/LayoutHeader.tsx
  packages/web3torrent/src/components/torrent-info/download-link/DownloadLink.tsx
  packages/web3torrent/src/pages/welcome/Welcome.tsx
Labels: package: web3torrent

#2253 [nitro-docs] Add versioning
  packages/nitro-protocol/package.json
  packages/nitro-protocol/readme.md
  packages/nitro-protocol/website/pages/en/versions.js
  packages/nitro-protocol/website/siteConfig.js
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/contract-inheritance.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/natspec/Adjudicator.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/natspec/AssetHolder.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/natspec/ConsensusApp.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/natspec/Context.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/natspec/CounterfactualAdapterApp.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/natspec/CounterfactualApp.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/natspec/CountingApp.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/natspec/ERC20.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/natspec/ERC20AssetHolder.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/natspec/ETHAssetHolder.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/natspec/ForceMove.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/natspec/ForceMoveApp.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/natspec/IAssetHolder.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/natspec/IERC20.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/natspec/IForceMove.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/natspec/Migrations.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/natspec/NitroAdjudicator.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/natspec/Outcome.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/natspec/RockPaperScissors.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/natspec/SafeMath.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/natspec/SingleAssetPayments.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/natspec/TESTAssetHolder.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/natspec/TESTAssetHolder2.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/natspec/TESTForceMove.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/natspec/TESTNitroAdjudicator.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/natspec/TestErc20AssetHolder.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/natspec/TestEthAssetHolder.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/natspec/Token.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-api/natspec/TrivialApp.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-devs/asset-holder.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-devs/consensus-app.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-devs/force-move.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-devs/intro.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-devs/nitro-adjudicator.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/contract-devs/single-asset-payments.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/dapp-devs/intro.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/dapp-devs/quick-start.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/overview.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/wallet-dev-tutorial/clear-a-challenge.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/wallet-dev-tutorial/deposit-assets.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/wallet-dev-tutorial/execute-state-transitions.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/wallet-dev-tutorial/finalize-a-channel-happy.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/wallet-dev-tutorial/finalize-a-channel-sad.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/wallet-dev-tutorial/off-chain-funding.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/wallet-dev-tutorial/outcomes.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/wallet-dev-tutorial/release-assets.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/wallet-dev-tutorial/understand-channel-storage.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/wallet-devs/client-specification/auxiliary-protocols.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/wallet-devs/intro.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/wallet-devs/quick-start.md
  packages/nitro-protocol/website/versioned_docs/version-0.1.1/wallet-devs/tutorial.md
  packages/nitro-protocol/website/versioned_sidebars/version-0.1.1-sidebars.json
  packages/nitro-protocol/website/versions.json
Labels: documentation, package: nitro-protocol
