Repository statechannels/statechannels, pull requests merged in 2020-05, with the labels that each got.

#1636 [simple-hub] update readme with new deploy branch
  packages/simple-hub/readme.md
Labels: package: simple-hub

#1638 [xstate-wallet] fix release:netlify:production
  packages/xstate-wallet/package.json
Labels: package: xstate-wallet

#1643 [simple-hub] add dotenv dependencies
  packages/simple-hub/docker/simple-hub.dockerfile
  packages/simple-hub/package.json
Labels: package: simple-hub

#1642 [w3t] Log info about waiting for the wallet to wake up
  packages/channel-provider/src/channel-provider.ts
Labels: package: web3torrent

#1607 More checks on the integration tests
  packages/e2e-tests/puppeteer/__tests__/web3torrent/seed-download.test.ts
  packages/e2e-tests/puppeteer/helpers.ts
  packages/xstate-wallet/src/workflows/application.ts
  packages/xstate-wallet/src/workflows/conclude-channel.ts
  packages/xstate-wallet/src/workflows/tests/application.test.ts
Labels: do not merge

#1679 [simple-hub] more informative deposit logs
  packages/simple-hub/src/blockchain/eth-asset-holder.ts
Labels: package: simple-hub

#1682 [e2e] Introduce TX_WAIT_TIMEOUT constant
  packages/e2e-tests/puppeteer/constants.ts
  packages/e2e-tests/puppeteer/helpers.ts
Labels: package: web3torrent

#1683 [web3torrent] Switch production environment to use direct funding
  .env.production-ropsten
Labels: package: web3torrent

#1647 Add persistent-seeder deployment to CI
  .circleci/config.yml
  packages/channel-provider/package.json
  packages/e2e-tests/persistent-seeder-deployment/build-push-release.sh
  packages/e2e-tests/persistent-seeder-deployment/persistent-seeder.dockerfile
  packages/e2e-tests/persistent-seeder/build-push-release.sh
  packages/e2e-tests/persistent-seeder/entrypoint.sh
  packages/e2e-tests/persistent-seeder/persistent-seeder.dockerfile
  packages/e2e-tests/persistent-seeder/persistent-seeder.dockerfile.dockerignore
Labels: deployment

#1684 [nitro-protocol] Change solc version to 0.6.1
  packages/nitro-protocol/package.json
  yarn.lock
Labels: package: nitro-protocol

#1687 [w3t] Revert production to virtual funding
  .env.production-ropsten
Labels: package: web3torrent

#1690 Enable source maps in prod
  packages/xstate-wallet/webpack-build.config.js
Labels: package: xstate-wallet

#1686 [e2e, w3t] Add an assertion that something was paid
  packages/e2e-tests/puppeteer/__tests__/web3torrent/seed-download.test.ts
Labels: package: web3torrent

#1703 [simple-hub] ethers utils import
  packages/simple-hub/package.json
  packages/simple-hub/src/constants.ts
  packages/simple-hub/src/wallet/xstate-wallet-internals/index.ts
  yarn.lock
Labels: package: simple-hub

#1708 Slack notification for hub release from circle
  .circleci/config.yml
Labels: package: simple-hub

#1712 [simple-hub] remove RUNTIME_ENV
  .env.production-ropsten
  packages/simple-hub/src/server.ts
Labels: package: simple-hub

#1725 [TTT] Setup playing a game of TTT
  packages/tic-tac-toe/.env.development
  packages/tic-tac-toe/app/controllers/game.ts
  packages/tic-tac-toe/app/controllers/games/index.ts
  packages/tic-tac-toe/app/controllers/games/waiting.ts
  packages/tic-tac-toe/app/routes/application.ts
  packages/tic-tac-toe/app/routes/game.ts
  packages/tic-tac-toe/app/routes/games/waiting.ts
  packages/tic-tac-toe/app/services/channel-updates.ts
  packages/tic-tac-toe/app/services/current-game.ts
  packages/tic-tac-toe/app/templates/game.hbs
  packages/tic-tac-toe/app/templates/games/waiting.hbs
Labels: package: tic-tac-toe

#1731 [web3torrent] ChannelsList component shows peerAccount
  packages/web3torrent/src/components/torrent-info/channels-list/ChannelsList.tsx
Labels: do not merge

#1714 [simple-hub] switch default chain private key
  .env.circle-integration-rps
  .env.circle-integration-w3t
  .env.circle-integration-w3t-with-hub
  .env.virtual-funding
  packages/simple-hub/.env.development
  packages/simple-hub/.env.test
  packages/simple-hub/src/constants.ts
  packages/simple-hub/src/wallet/deposit.ts
  packages/web3torrent/.env.test
  packages/web3torrent/src/constants.ts
  packages/xstate-wallet/.env.development
  packages/xstate-wallet/.env.test
  packages/xstate-wallet/config/jest/jest.config.js
  packages/xstate-wallet/jest/test-setup.ts
  packages/xstate-wallet/src/config.ts
  packages/xstate-wallet/src/integration-tests/funding.test.ts
  packages/xstate-wallet/src/integration-tests/running.test.ts
  packages/xstate-wallet/webpack.config.js
Labels: package: simple-hub, package: web3torrent, package: xstate-wallet

#1752 [web3torrent] web3torrent-lib log cleanups
  packages/web3torrent/src/library/web3torrent-lib.ts
Labels: package: web3torrent

#1717 Add notes on when it's safe to change outcomes
  packages/xstate-wallet/notes/outcomes.md
Labels: package: xstate-wallet

#1754 W3T - Refactor TorrentInfo and subcomponents
  packages/web3torrent/src/components/torrent-info/TorrentInfo.test.tsx
  packages/web3torrent/src/components/torrent-info/TorrentInfo.tsx
  packages/web3torrent/src/components/torrent-info/channels-list/ChannelsList.tsx
  packages/web3torrent/src/components/torrent-info/download-info/DownloadInfo.stories.tsx
  packages/web3torrent/src/components/torrent-info/download-info/DownloadInfo.test.tsx
  packages/web3torrent/src/components/torrent-info/download-info/DownloadInfo.tsx
  packages/web3torrent/src/components/torrent-info/download-link/DownloadLink.tsx
  packages/web3torrent/src/components/torrent-info/peer-network-stats/PeerNetworkStats.scss
  packages/web3torrent/src/components/torrent-info/peer-network-stats/PeerNetworkStats.stories.tsx
  packages/web3torrent/src/components/torrent-info/peer-network-stats/PeerNetworkStats.test.tsx
  packages/web3torrent/src/components/torrent-info/peer-network-stats/PeerNetworkStats.tsx
  packages/web3torrent/src/components/torrent-info/upload-info/UploadInfo.scss
  packages/web3torrent/src/components/torrent-info/upload-info/UploadInfo.test.tsx
  packages/web3torrent/src/components/torrent-info/upload-info/UploadInfo.tsx
Labels: package: web3torrent

#1533 W3T Restart Fixing
  packages/web3torrent/src/clients/web3torrent-client.ts
  packages/web3torrent/src/library/paid-streaming-extension.ts
  packages/web3torrent/src/library/types.ts
  packages/web3torrent/src/library/web3torrent-lib.ts
  packages/web3torrent/src/pages/file/File.tsx
Labels: package: web3torrent

#1785 Persistent Seeder Fix
  packages/e2e-tests/persistent-seeder/persistent-seeder.dockerfile
  packages/e2e-tests/puppeteer/helpers.ts
  packages/e2e-tests/puppeteer/scripts/web3torrent.ts
  packages/web3torrent/src/constants.ts
  packages/web3torrent/src/pages/welcome/Welcome.tsx
Labels: package: web3torrent

#1793 Run production tests in band
  .circleci/config.yml
Labels: package: web3torrent

#1808 Update SignFinalState to only resolve after the state is signed
  packages/xstate-wallet/src/workflows/application.ts
Labels: package: xstate-wallet

#1834 Add withdrawing to Direct Funding Conclude Channel
  .env.circle-integration-w3t
  packages/app-wallet-interface/source/index.html.md
  packages/e2e-tests/puppeteer/__tests__/web3torrent/seed-download.test.ts
  packages/xstate-wallet/src/channel-wallet.ts
  packages/xstate-wallet/src/integration-tests/close-withdraw.test.ts
  packages/xstate-wallet/src/serde/app-messages/serialize.ts
  packages/xstate-wallet/src/store/channel-store-entry.ts
  packages/xstate-wallet/src/store/store.ts
  packages/xstate-wallet/src/store/tests/channel-store-entry.test.ts
  packages/xstate-wallet/src/ui/application-workflow.tsx
  packages/xstate-wallet/src/ui/selectors.ts
  packages/xstate-wallet/src/workflows/application.ts
  packages/xstate-wallet/src/workflows/close-ledger-and-withdraw.ts
  packages/xstate-wallet/src/workflows/conclude-channel.ts
  packages/xstate-wallet/src/workflows/tests/conclude-channel.test.ts
  packages/xstate-wallet/src/workflows/tests/support-state.test.ts
Labels: package: xstate-wallet

#1845 [rps, ,e2e] Unskip bResigns step
  packages/e2e-tests/puppeteer/__tests__/rps/rps.test.ts
  packages/e2e-tests/puppeteer/scripts/rps.ts
  packages/rps/src/__stories__/index.tsx
  packages/rps/src/components/HomePage.tsx
  packages/rps/src/containers/HomePageContainer.tsx
  packages/rps/src/redux/game/saga.ts
  packages/rps/src/redux/store.ts
Labels: package: rps

#1854 [web3torrent] Add more information to wire setup logging
  packages/web3torrent/src/library/paid-streaming-extension.ts
  packages/web3torrent/src/library/types.ts
  packages/web3torrent/src/library/web3torrent-lib.ts
Labels: package: web3torrent

#1869 [rps] Extend e2e test to 2 games, each player resigns
  .env.circle-integration-rps
  packages/e2e-tests/puppeteer/__tests__/rps/rps.test.ts
  packages/e2e-tests/puppeteer/scripts/rps.ts
  packages/rps/src/redux/game/saga.ts
Labels: package: rps

#1781 Separate cancelling test from download test in E2E tests
  .circleci/config.yml
  bin/start-servers.sh
  packages/e2e-tests/puppeteer/__tests__/optional/seed-download-cancel.test.ts
  packages/e2e-tests/puppeteer/__tests__/web3torrent/seed-download-complete.test.ts
  packages/e2e-tests/puppeteer/helpers.ts
  packages/e2e-tests/puppeteer/scripts/web3torrent.ts
  packages/simple-hub/src/blockchain/eth-asset-holder.ts
  packages/web3torrent/src/clients/payment-channel-client.ts
  packages/web3torrent/src/library/web3torrent-lib.ts
  packages/xstate-wallet/src/chain.ts
Labels: flickering, testing

#1870 [TTT] Handle Victory/Draw states in TTT
  packages/tic-tac-toe/app/controllers/game.ts
  packages/tic-tac-toe/app/core/app-data.ts
Labels: package: tic-tac-toe

#1901 Refactors the cancel functions out of w3t-client
  packages/web3torrent/src/clients/web3torrent-client.test.ts
  packages/web3torrent/src/clients/web3torrent-client.ts
  packages/web3torrent/src/components/torrent-info/download-info/DownloadInfo.test.tsx
  packages/web3torrent/src/components/torrent-info/download-info/DownloadInfo.tsx
  packages/web3torrent/src/library/web3torrent-lib.ts
Labels: package: web3torrent

#1910 [web3torrent] index peerList by channel id instead of peer id
  packages/web3torrent/src/components/torrent-info/channels-list/ChannelsList.tsx
  packages/web3torrent/src/library/client-seeding.test.ts
  packages/web3torrent/src/library/paid-streaming-extension.ts
  packages/web3torrent/src/library/types.ts
  packages/web3torrent/src/library/web3torrent-lib.ts
  packages/web3torrent/src/utils/test-utils.ts
Labels: package: web3torrent

#1916 Refactor channel updated listener
  packages/web3torrent/src/library/web3torrent-lib.ts
Labels: package: web3torrent

#1917 Adds better logging when the torrent it's done
  packages/web3torrent/src/library/web3torrent-lib.ts
Labels: package: web3torrent

#1929 [web3torrent] Channels display number of payments
  packages/web3torrent/package.json
  packages/web3torrent/src/components/domain-budget-table/DomainBudgetTable.scss
  packages/web3torrent/src/components/domain-budget-table/DomainBudgetTable.tsx
  packages/web3torrent/src/components/torrent-info/channels-list/ChannelsList.scss
  packages/web3torrent/src/components/torrent-info/channels-list/ChannelsList.tsx
  packages/web3torrent/src/constants.ts
  yarn.lock
Labels: package: web3torrent

#1946 Fix tracker check
  .env.persistent-seeder
  .env.production-ropsten
  packages/web3torrent/.env.test
  packages/web3torrent/package.json
  packages/web3torrent/tracker/index.js
  packages/web3torrent/tracker/package.json
  yarn.lock
Labels: package: web3torrent

#1945 Get Challenge Transaction Working
  packages/nitro-protocol/contracts/ForceMove.sol
  packages/nitro-protocol/contracts/interfaces/IForceMove.sol
  packages/nitro-protocol/src/transactions.ts
  packages/nitro-protocol/test/contracts/ForceMove/forceMove.test.ts
  packages/xstate-wallet/src/chain.ts
  packages/xstate-wallet/src/config.ts
  packages/xstate-wallet/src/tests-with-chain/chain.test.ts
  packages/xstate-wallet/src/workflows/challenge-channel.ts
Labels: package: xstate-wallet

#1948 [simple-hub] Remove global transaction lock
  packages/simple-hub/.env.test
  packages/simple-hub/.vscode/launch.json
  packages/simple-hub/jest/jest.with-chain.config.js
  packages/simple-hub/jest/test-setup.with-chain.ts
  packages/simple-hub/jest/test-teardown.with-chain.ts
  packages/simple-hub/package.json
  packages/simple-hub/src/blockchain/eth-asset-holder.ts
  packages/simple-hub/src/message/__test-with-chain__/on-message.test.ts
  packages/simple-hub/src/message/on-message.ts
  packages/simple-hub/src/server.ts
  packages/simple-hub/tsconfig.json
Labels: package: simple-hub

#1952 Set default value for onNext and onComplete for simple-hub
  packages/simple-hub/src/message/on-message.ts
Labels: package: simple-hub

#1956 Do not fetch closed channels for ChannelsList on load
  packages/web3torrent/src/clients/payment-channel-client.ts
Labels: package: web3torrent

#1954 Fix badge cut off UI CSS
  packages/web3torrent/src/components/torrent-info/channels-list/ChannelsList.scss
Labels: package: web3torrent

#1955 Show starting and closing status on ChannelsList
  packages/web3torrent/src/components/torrent-info/channels-list/ChannelsList.tsx
Labels: package: web3torrent

#1958 [simple-hub] Pay higher gas fees
  packages/simple-hub/package.json
  packages/simple-hub/src/blockchain/eth-asset-holder.ts
Labels: package: simple-hub

#1977 [simple-hub] Do not log to an empty destination
  packages/simple-hub/src/logger.ts
Labels: package: simple-hub

#1970 [devtools] Patch @statechannels/devtools
  package.json
  packages/devtools/package.json
  packages/devtools/tsconfig.json
  packages/e2e-tests/package.json
  packages/jest-gas-reporter/package.json
  packages/nitro-protocol/package.json
  packages/persistent-seeder/package.json
  packages/rps/package.json
  packages/simple-hub/package.json
  packages/tic-tac-toe/package.json
  packages/web3torrent/package.json
  packages/xstate-wallet/package.json
Labels: do not merge, package: devtools

#1936 Introduce ChannelData naming
  .env.local-ropsten
  packages/nitro-protocol/contracts/ForceMove.sol
  packages/nitro-protocol/contracts/NitroAdjudicator.sol
  packages/nitro-protocol/contracts/interfaces/IForceMove.sol
  packages/nitro-protocol/contracts/test/TESTForceMove.sol
  packages/nitro-protocol/contracts/test/TESTNitroAdjudicator.sol
  packages/nitro-protocol/docs/forcemove-and-nitro/force-move.md
  packages/nitro-protocol/notes/force-move-implementation.md
  packages/nitro-protocol/src/contract/channel-storage.ts
  packages/nitro-protocol/src/transactions.ts
  packages/nitro-protocol/test/contracts/ForceMove/checkpoint.test.ts
  packages/nitro-protocol/test/contracts/ForceMove/conclude.test.ts
  packages/nitro-protocol/test/contracts/ForceMove/forceMove.test.ts
  packages/nitro-protocol/test/contracts/ForceMove/respond.test.ts
  packages/nitro-protocol/test/contracts/ForceMove/storage.test.ts
  packages/nitro-protocol/test/contracts/NitroAdjudicator/concludePushOutcomeAndTransferAll.test.ts
  packages/nitro-protocol/test/src/transactions.test.ts
  packages/nitro-protocol/test/test-helpers.ts
  packages/xstate-wallet/src/chain.ts
Labels: package: nitro-protocol

#1971 [nitro-protocol] Tweaks before publishing package
  packages/nitro-protocol/contracts/NitroAdjudicator.sol
  packages/nitro-protocol/src/index.ts
Labels: package: nitro-protocol

#1969 W3t close channel
  packages/e2e-tests/puppeteer/__tests__/stress.test.ts
  packages/web3torrent/src/clients/payment-channel-client.ts
  packages/web3torrent/src/library/web3torrent-lib.ts
Labels: package: web3torrent

#2001 [xstate-wallet] Remove initialization of stub functionality
  packages/xstate-wallet/src/index.ts
Labels: package: xstate-wallet

#2002 Web3Torrent Client and library refactor and docs improvement
  packages/web3torrent/src/clients/payment-channel-client.ts
  packages/web3torrent/src/clients/web3torrent-client.test.ts
  packages/web3torrent/src/clients/web3torrent-client.ts
  packages/web3torrent/src/library/client-seeding.test.ts
  packages/web3torrent/src/library/testing/test-utils.ts
  packages/web3torrent/src/library/types.ts
  packages/web3torrent/src/library/web3torrent-lib.ts
Labels: package: web3torrent

#1987 Refactor application workflow closeChannel
  packages/xstate-wallet/src/integration-tests/running.test.ts
  packages/xstate-wallet/src/store/index.ts
  packages/xstate-wallet/src/workflows/application.ts
  packages/xstate-wallet/src/workflows/tests/application.test.ts
Labels: package: xstate-wallet

#1997 Close channels on my turn
  packages/client-api-schema/src/types.ts
  packages/e2e-tests/jest.setup.ts
  packages/web3torrent/src/clients/payment-channel-client.ts
  packages/web3torrent/src/components/domain-budget-table/DomainBudgetTable.tsx
  packages/web3torrent/src/components/torrent-info/channels-list/ChannelsList.tsx
  packages/web3torrent/src/constants.ts
  packages/web3torrent/src/library/testing/test-utils.ts
  packages/web3torrent/src/library/web3torrent-lib.ts
  packages/xstate-wallet/src/integration-tests/running.test.ts
  packages/xstate-wallet/src/store/store.ts
  packages/xstate-wallet/src/workflows/application.ts
Labels: package: web3torrent

#2010 Kill channels after two keep-alive pings with zero progress
  packages/web3torrent/src/library/paid-streaming-extension.ts
  packages/web3torrent/src/library/web3torrent-lib.ts
Labels: package: web3torrent

#2013 Add a log statement when querying the chain
  packages/xstate-wallet/src/chain.ts
Labels: package: xstate-wallet

#2015 Add Comments and info
  packages/web3torrent/src/clients/web3torrent-client.ts
  packages/web3torrent/src/constants.ts
  packages/web3torrent/src/library/paid-streaming-extension.ts
  packages/web3torrent/src/library/types.ts
  packages/web3torrent/src/library/web3torrent-lib.ts
  packages/web3torrent/src/pages/welcome/Welcome.tsx
  packages/web3torrent/src/utils/check-torrent-in-tracker.ts
  packages/web3torrent/tracker/index.js
Labels: documentation, package: web3torrent

#2027 Use Existing Contracts when Querying the Chain
  packages/xstate-wallet/src/chain.ts
Labels: package: xstate-wallet
